{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/time_tracker.css') }}" type="text/css" />
{% endblock %}

{% block mobiletitle %}
    <div id="titre-mobile-wrapper" class="time_tracker">
        <a href="{{ path('time_tracker_index') }}">
            <img src="{{ asset('images/assets/jaimecomptermontemps.png') }}" alt="logo time_tracker" />
            <span class="title">J'aime compter mon temps</span>
        </a>
    </div>
{% endblock %}

{% block mobile_menu_bottom_dropdown %}
    <li role="presentation">
    	<a href="{{ path('time_tracker_index') }}">
            <span class="glyphicon glyphicon-hourglass"></span>
           Temps
        </a>
    </li>
    <li role="presentation">
        <a href="{{ path('time_tracker_reporting') }}">
            <i class="fas fa-chart-pie"></i>
           Reporting
        </a>
    </li>
{% endblock %}

{% block body %}
	<div class="row full-height-minus-userbar">
        <div class="col-md-offset-1 col-md-11 col-xs-12 fit wrap-content wrap-content-commercial">
            <div class="titre titre-timetracker hidden-xs">
                <h1 id="titre-outil">J'aime compter mon temps</h1>
            </div>

            <div class="row spacer-top">
                <div class="col-md-12">
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('danger') %}
                        <div class="alert alert-danger">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                </div>
            </div>
                
            {% block content %}
            {% endblock %}
        </div>
    </div>

{% endblock %}

