{% extends 'crm/crm_layout.html.twig' %}

{% block content %}

	<div class="row hidden-xs">
		<div class="col-md-12 bread-crumb-back">
		<a href="{{ path('crm_contact_liste') }}" class="small">< Retour à la listes des contacts</a>
		</div>
	</div>
	<div class="row" id="compte_details">
	    <div class="col-md-6 col-xs-12 center-mobile">
    		<h1 id="contact-name">{{ contact.prenom }} {{ contact.nom }}<br />
	    		<small>
	    			<strong><a href="{{ path('crm_compte_voir', {'id' : contact.compte.id }) }}">{{ contact.compte }}</a></strong>
	    			{% if contact.titre is not empty %}
				    	- {{ contact.titre }}
				    {% endif %} 
				</small>
    		</h1>	
	    </div>

		<div class="col-md-6 col-xs-12">
		    <p class="group-btn">
		    	<a href="{{ path('crm_contact_editer', {'id' : contact.id }) }}"  class="btn btn-warning btn-block-mobile">
		    		<span class="glyphicon glyphicon-pencil"></span> Modifier
		    	</a>
		    	<a href="{{ path('crm_contact_supprimer', {'id' : contact.id }) }}"  class="btn btn-danger btn-block-mobile">
		    		<span class="glyphicon glyphicon-trash"></span> Supprimer
		    	</a>
		    	<a href="{{ path('crm_contact_ecrire', {'id' : contact.id }) }}"  class="btn {% if contact.email is null %} btn-default not-active {% else %} btn-primary {% endif %} btn-block-mobile"  data-toggle="modal" data-target="#modal">
			    	<span class="glyphicon glyphicon-send"></span> Envoyer un message
			    </a>
			    <a href="{{ path('crm_contact_verifier_bounce', {'id' : contact.id, 'redirectToContact' : 1 }) }}"  class="hidden-xs btn {% if contact.email is null %} btn-default not-active {% else %} btn-info {% endif %}" >
			    	<span class="glyphicon glyphicon-check"></span> Vérifier adresse email
			    </a>
			    <a href="{{ path('crm_contact_fusionner_rechercher_modal', {'id' : contact.id }) }}"  class="btn btn-default"  data-toggle="modal" data-target="#modal">
				 	<span class="glyphicon glyphicon-transfer"></span> Fusionner
				</a>	
		    </p>
	    </div>
	    <div class="col-md-12 hidden-xs">
    		<p>
    			<a href="#opportunites">Actions commerciales du contact</a> - 
    			<a href="#factures">Factures du contact</a> - 
    			<a href="#prises_contact">Historique des prises de contact</a> -
    			<a href="#emailings">Historique des emailings</a>
    		</p>
	    </div>
    </div>

    {% if contact.isBounce or contact.isWarningBounce %}
    	<div class="row">
	    	<div class="col-md-12 alert {{ contact.isBounce ? 'alert-danger':'alert-warning' }}">
	    		{% if contact.isBounce %}
		    	 	<strong><span class="glyphicon glyphicon-warning-sign"></span> BOUNCE !</strong><br />
		    	 	L'adresse email de ce contact ({{ contact.email }}) a été détectée comme bounce. Il est possible que l'adresse email soit mal notée, ou que le contact ait changé d'organisation. Veuillez mettre ce contact à jour. <br />
		    	{% else %}
		    	 	<strong><span class="glyphicon glyphicon-warning-sign"></span> POTENTIEL BOUNCE</strong><br />
		    	 	L'adresse email de ce contact ({{ contact.email }}) a été détectée comme bounce potentiel. Il est possible que l'adresse email soit mal notée, ou que le contact ait changé d'organisation. Veuillez vérifier. <br />
		    	{% endif %}
	    	 	{% if contact.dateBounceCheck is not empty %} Date de vérification : {{ contact.dateBounceCheck|date('d/m/Y') }} {% endif %}
	    	 	<p>
	    	 		Vous êtes sûr.e que l'adresse email est correcte ?
	    	 		<a class="btn btn-primary btn-xs" href="{{ path('crm_contact_set_bounce', {'id' : contact.id, 'bounce': 'VALID'}) }}">
	    	 			Retirer l'avertissement
	    	 		</a>
	    	 	</p>
	    	</div>
	    </div>
	{% endif %}

	<div class="row">
		<div class="col-md-12">
			{% for flashMessage in app.session.flashbag.get('success') %}
			    <div class="alert alert-success">
			        {{ flashMessage }}
			    </div>
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('danger') %}
			    <div class="alert alert-danger">
			        {{ flashMessage }}
			    </div>
			{% endfor %}
		</div>
	</div>
	    
    <div class="row">
    	<div class="col-md-12">
    		<hr />
    		<table class="contact-view-table">
    			<tbody>
	    			<tr>
	    				<td>
	    					Gestionnaire du contact 
	    				</td>
	    				<td id="contact-user-gestion">
				    		{{ contact.userGestion }}
				    		{% if contact.userGestion.enabled == false %}
				    			<a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" title="Utilisateur inactif" data-content="Cet utilisateur est inactif. Vous devriez changer le gestionnaire du contact."><span class="glyphicon glyphicon-warning-sign red"></span></a>
				    		{% endif %}
				    		  <p>
				    		  	
								{% for impulsion in impulsions %}
						    	 	<div>
						    	 		<span class="glyphicon glyphicon-time"></span> 
						    	 		A contacter le {{ impulsion.date|date('d/m/Y') }} par {{impulsion.methodeContact }} : {{ impulsion.infos }}
						    	 		{% if impulsion.retard > 0 %}
						    	 			<span class="label label-danger">{{ impulsion.retard }} jours de retard !</span>
						    	 		{% endif %}
						    	 	</div>
				    			{% else %}
				    				Pas de suivi <a href="{{ path('crm_impulsion_ajouter', {'contact' : contact.id, 'screen' : 'contact' }) }}" 
				    				class="bnt btn-xs btn-success">
				    					<span class="glyphicon glyphicon-plus"></span> Ajouter
				    				</a>
							    {% endfor %}
						    </p>
	    				</td>
	    			</tr>
	    		</tbody>
	    	</table>
	    	<hr />
    	</div>
	</div>

	<div class="row">
    	<div class="col-md-6">
    		<table class="contact-view-table">
    			<tbody>
	    			<tr>
	    				<td>
	    					Adresse 
	    				</td>
	    				<td id="contact-adresse">
	    					{% if contact.adresse is empty %}
				    			-
				    		{% else %}
				    			{{ contact.adresse }}
				    		{% endif %}
	    				</td>
	    			</tr>
	    			<tr>
	    				<td>
	    					Code postal 
	    				</td>
	    				<td>
	    					{% if contact.codePostal is empty %}
				    			-
				    		{% else %}
				    			{{ contact.codePostal }}
				    		{% endif %}
	    				</td>
	    			</tr>
	    			<tr>
	    				<td>
	    					Ville 
	    				</td>
	    				<td>
	    					{% if contact.ville is empty %}
				    			-
				    		{% else %}
				    			{{ contact.ville }}
				    		{% endif %}
	    				</td>
	    			</tr>
	    			<tr>
	    				<td>
	    					Région 
	    				</td>
	    				<td>
	    					{% if contact.region is empty %}
				    			-
				    		{% else %}
				    			{{ contact.region }}
				    		{% endif %}
	    				</td>
	    			</tr>
	    			<tr>
	    				<td>
	    					Pays 
	    				</td>
	    				<td>
	    					{% if contact.pays is empty %}
				    			-
				    		{% else %}
				    			{{ contact.pays }}
				    		{% endif %}
	    				</td>
	    			</tr>
    			</tbody>
    		</table>
    	</div>
    	<div class="col-md-6">
    		<table class="contact-view-table">
    			<tbody>
	    			<tr>
	    				<td>Téléphone fixe</td>  
		    			<td id="contact-tel-fixe">
			    			{% if contact.telephoneFixe is empty %}
					    		-
					    	{% else %}
					    		<a href="tel:{{ contact.telephoneFixe }}">{{ contact.telephoneFixe }}</a>
					    	{% endif %}	
				   	 	</td> 
			   	 	</tr>
			   	 	<tr>
			    		<td>Tél. portable pro</td>  
			    		<td>
			    			{% if contact.telephonePortable is empty %}
					    		-
					    	{% else %}
					    		<a href="tel:{{ contact.telephonePortable }}">{{ contact.telephonePortable }}</a>
					    	{% endif %}	
					    </td> 
					 </tr>
					<tr>
						<td>Tél. (autre)</td>
						<td>
							{% if contact.telephoneAutres is empty %}
								-
							{% else %}
								<a href="tel:{{ contact.telephoneAutres }}">{{ contact.telephoneAutres }}</a>
							{% endif %}
						</td>
					</tr>
					 <tr>
					 	<td>Fax</td>  
			    		<td>
			    			{% if contact.fax is empty %}
					    		-
					    	{% else %}
					    		{{ contact.fax }}
					    	{% endif %}
					    </td> 
					 </tr>
					 <tr>
					 	<td>Email</td>  
			    		<td>
							{% if contact.email is empty %}
					    		-
					    	{% else %}
					    		<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
					    		{% if contact.isBounce %}
									<span class="label label-danger">Bounce</span> 
					    		{% elseif contact.isWarningBounce %}
									<span class="label label-warning">Bounce Potentiel</span> 
								{% endif %}
					    	{% endif %}	    	
					    </td>
					 </tr>
					 <tr>
						<td>Email 2</td>
						<td>
							{% if contact.email2 is empty %}
								-
							{% else %}
								<a href="mailto:{{ contact.email2 }}">{{ contact.email2 }}</a>
							{% endif %}
						</td>
					 </tr>
	    		</tbody>
	    	</table>  	
    	</div>
   </div>

    <div class="row">
    	<div class="col-md-12">
    		<hr />
    	</div>
    </div>

    <div class="row">
    	<div class="col-md-6">
     		<table class="contact-view-table">
    			<tbody>
    				<tr>
						<td>Secteur d'activité</td>
						<td id="contact-secteur">
							<ul>
								{% for secteur in contact.settings if secteur.parametre == 'SECTEUR' %}
									<li>{{ secteur.valeur }}</li>
								{% endfor %}
							</ul>
						</td>
					</tr>
			    		<td>Thèmes d'intérêt</td> 
			    		<td id="contact-themes-interet">
			    			<ul>
			    			{% for theme in contact.settings if theme.parametre == 'THEME_INTERET' %}
			    				<li>{{ theme.valeur }}</li>
			    			{% endfor %}
			    			</ul>
			    		</td>
	    			</tr>
	    			<tr>
		    			<td>Services d'intérêt</td>  
		    			<td id="contact-services-interet">
			    			<ul>
			    			{% for service in contact.settings if service.parametre == 'SERVICE_INTERET' %}
			    				<li>{{ service.valeur }}</li>
			    			{% endfor %} 
			    			</ul>
		    			</td>
		    		</tr>
		    		
		    	</tbody>
		    </table>
		</div>
		<div class="col-md-6">
	    	<table class="contact-view-table">
	    		<tbody>
	    			<tr>
			    		<td>Type de relation commerciale</td>  
						<td id="contact-type">
							<ul>
							{% for type in contact.settings if type.parametre == 'TYPE' %}
			    				<li>{{ type.valeur }}</li>  				
			    			{% endfor %}  
			    			</ul>
			    		</td>
			    	</tr>
			    	<tr>
			    		<td>Réseau</td>  
			    		<td id="contact-reseau">
			    		
			    			{% if contact.reseau is empty %}
					    		-
					    	{% else %}
								{{ contact.reseau.valeur }}
					    	{% endif %}
			    		</td> 
			    	</tr>
			    	<tr>
			    		<td>Origine :</td>  
			    		<td id="contact-origine">
			    			{% for type in contact.settings if type.parametre == 'TYPE' %}
			    			
			    			{% endfor %}
			    			{% if contact.origine is empty %}
					    		-
					    	{% else %}
								{{ contact.origine.valeur }}	
					    	{% endif %}
			    		</td>
			    	</tr>
				    	
			    </tbody>
    		</table>
    	</div>
	</div>

		 <div class="row">
	    	<div class="col-md-12">
	    		<hr />
	    	</div>
	    </div>

		<div class="row">
	    	<div class="col-md-6">
	     		<table class="contact-view-table">
			    	<tbody>
    		    		<tr>
    			    		<td>Newsletter</td>  
    			    		<td id="contact-newsletter">
    							{% if contact.newsletter == true %}
    					    		<span class="glyphicon glyphicon-ok"></span>
    					    	{% endif %}	    	
    					    </td> 
    					</tr>
    		    		<tr>
    			    		<td>Carte de voeux</td>  
    			    		<td id="contact-carte-voeux">
    							{% if contact.carteVoeux == true %}
    					    		<span class="glyphicon glyphicon-ok"></span>
    					    	{% endif %}	    	
    					    </td> 
    					</tr>
			    	</tbody>
			    </table>
		    </div>
		    <div class="col-md-6">
	     		<table class="contact-view-table">
			    	<tbody>
			    		<tr>
    			    		<td>Ne pas envoyer newsletter</td>  
    			    		<td>
    							{% if contact.rejetNewsletter == true %}
    					    		<span class="glyphicon glyphicon-ok"></span>
    					    	{% endif %}	    	
    					    </td> 
    					</tr>
    		    		<tr>
    			    		<td>Ne pas envoyer emailings</td>  
    			    		<td>
    							{% if contact.rejetEmail == true %}
    					    		<span class="glyphicon glyphicon-ok"></span>
    					    	{% endif %}	    	
    					    </td> 
    					</tr>
			    	</tbody>
			    </table>
		    </div>
	   </div>

	    <div class="row">
	    	<div class="col-md-12">
	    		<hr />
	    	</div>
	    </div>

	   <div class="row">
	    	<div class="col-md-12">
	    		<hr />
	    		<table class="contact-view-table">
	    			<tbody>
	    				<tr>
				    		<td>Description</td> 
				    		<td>
				    			{% if contact.description is empty %}
						    		-
						    	{% else %}
									{{ contact.description|raw }}	
						    	{% endif %}
				    		</td> 
			    		</tr>
		    		</tbody>
		    	</table> 
		    	<hr />
	    	</div>
	  </div>
	   <div class="row">
	    	<div class="col-md-6">
	     		<table class="contact-view-table">
	     			<tbody>
	     				<tr>
	     					<td>Créé le</td>  
				    		<td>
				    			{{ contact.dateCreation|date("d/m/Y") }}
				    		</td> 
	     				</tr>
	     				<tr>
	     					<td>Par</td>  
		    				<td>
								{{ contact.userCreation }}
							</td>
	     				
	     				</tr>
	     			</tbody>
		    	</table>
		    </div>
		    <div class="col-md-6">
		    	<table class="contact-view-table">
		    		<tbody>
	     				<tr>
				    		<td>Modifié le</td>  
				    		<td id="contact-date-edition">
				    			{% if contact.dateEdition is empty %}
						    		Jamais
						    	{% else %}
									{{ contact.dateEdition|date("d/m/Y") }}	
						    	{% endif %}
				    		</td> 
			    		</tr>
			    		<tr>
		    			{% if contact.userEdition is not empty %}
				    		<td>Par</td>  
		    				<td id="contact-user-edition">
								{{ contact.userEdition }}
							</td>
				    	{% endif %}
			    		</tr>
			    	</tbody>
	    		</table>
	    	</div>
	   </div>

	  {{ include('crm/opportunite/crm_opportunite_liste_part.html.twig', {'arr_opportunites': arr_opportunites, 'div_id': 'table_opportunites', 'id_to_use': contact.id, 'id_origine_type': 'contact'}) }}
	  {{ include('crm/facture/crm_facture_liste_part.html.twig', {'arr_facture': arr_factures, 'div_id': 'table_factures'}) }}
  	  {{ include('crm/priseContact/crm_prise_contact_liste_part.html.twig', {'contact': contact, 'div_id': 'table_prises_contact'}) }}
{% endblock %}
    
{% block additionalModals %}      
    <div class="modal" id="fusionner-recapitulatif-modal" data-focus-on="input:first">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>    
{% endblock additionalModals %}

{% block javascripts %}  
    {{ parent() }}    
    <script>
        /* Create a fixed menu on scroll for /voir */
            $(document).ready(function() {
            var positionElementInPage = $('#compte_details').offset().top;
            $(window).scroll(
                 function() {
                        if ($(window).scrollTop() >= positionElementInPage) {
                            // fixed
                            $('#compte_details').addClass("fixed-top");
                        } else {
                            // relative
                            $('#compte_details').removeClass("fixed-top");
                        }
                    }
            );
            });
    </script>   
{% endblock javascripts %}
    
    


