{% extends 'crm/crm_layout.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h1>Suivi</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<p>
				<a target='_blank' href="{{ path('crm_impulsion_ajouter') }}" class="btn btn-success">
					<span class="glyphicon glyphicon-plus"></span> Ajouter
				</a>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table id="table_impulsion_list" class="table table-bordered table-striped">
				<thead>
				<tr>
					<th>A contacter le</th>
					<th>Contact</th>
					<th>Organisation et titre</th>
					<th>Coordonnées</th>
					<th>Contacter par</th>
					<th>Contacter pour</th>
					<th>Actions</th>
				</tr>
				</thead>
				<tbody>
				{% for impulsion in list %}
					<tr>
						<td>
							{% if impulsion.retard > 0 %} 
								<span class="label label-danger">{{ impulsion.retard }} jours de retard !</span><br />
							{% endif %}
							{{ impulsion.date|date('d/m/Y') }}
						</td>
						<td>
							<a target='_blank' href="{{ path('crm_contact_voir', {'id' : impulsion.contact.id }) }}">{{ impulsion.contact }}</a>
						</td>
						<td>
							<a target='_blank' href="{{ path('crm_compte_voir', {'id' : impulsion.contact.compte.id }) }}">{{ impulsion.contact.compte }}</a><br />
							<i>{{ impulsion.contact.titre }}</i>
						</td>
						<td>
							<a href="mailto:{{ impulsion.contact.email }}">{{ impulsion.contact.email }}</a>
							<br/>
							<a href="tel:{{ impulsion.contact.telephoneFixe }}">{{ impulsion.contact.telephoneFixe }}</a>
							
							<br/>
							<a href="tel:{{ impulsion.contact.telephonePortable }}">{{ impulsion.contact.telephonePortable }}</a>
						</td>
						<td>
							{{ impulsion.methodeContact }}
						</td>
						<td>
							{{ impulsion.infos }}
						</td>
						<td>
							<a 
								href="{{ path('crm_prise_contact_ajouter', {'id' : impulsion.contact.id, 'screen' : 'impulsion' }) }}" class="btn btn-xs btn-success"  
								data-toggle="modal" 
								data-target="#modal_prise_contact"
							>
								<span class="glyphicon glyphicon-ok"></span>
							</a>

							<a 
								href="{{ path('crm_impulsion_editer', {'id' : impulsion.id, 'screen' : 'impulsion' }) }}" 
								class="btn btn-xs btn-warning" 
								data-toggle="modal" 
								data-target="#modal" 
								title="Editer"
							>
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a 
								href="{{ path('crm_impulsion_supprimer', {'id' : impulsion.id }) }}" 
								class="btn btn-xs btn-danger"​
								data-toggle="tooltip-btn-xs" 
								title="Supprimer"
							>
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<!-- wrapper for modal -->
	<div class="modal" id="modal_prise_contact">
		<div class="modal-dialog">
			<div class="modal-content">
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready( function () {
			$('#table_impulsion_list').DataTable({
				"dom": 'T<"clear">lfrtip',
				"order": [[ 0, "desc" ]],
				"language" : {
					"url": "//cdn.datatables.net/plug-ins/1.10.7/i18n/French.json"
				},
				fnDrawCallback: function () {
					$( 'a', this.fnGetNodes() ).tooltip( {
						"delay": 0,
						"track": true,
						"fade": 250,
						"tooltipClass": 'btn btn-default',
					} );
				},
				fnInitComplete: function () {
					$( 'a', this.fnGetNodes() ).tooltip( {
						"delay": 0,
						"track": true,
						"fade": 250,
						"tooltipClass": 'btn btn-default',
					} );
				},
				"responsive": true,
			});

		});
	</script>
{% endblock %}
