{% for arr_periode in arr_tva %}

	{% set types = [] %}
	{% set types = types|merge({'France' : 'france'}) %}
	{% set types = types|merge({'Intra-communautaire' : 'intra'}) %}
	{% set types = types|merge({'Extra-communautaire' : 'extra'}) %}
	
	<!-- soumis à tva -->
	{% for label, type in types %}

		<tr class="{% if loop.last %} black-border-bottom {% elseif loop.first %} thick-border-top {% endif %} {% if arr_periode.mois is odd %} odd {% endif %}" >

			{% if loop.first %}
				<td rowspan="6" class="thick-border-top align-middle"><strong>{{ arr_periode.mois }}/{{ arr_periode.annee }}</strong></td>
				<td class="thick-border-left thick-border-top black-border-bottom black-border-right align-middle center" rowspan="3">Soumis à TVA</td>
			{% endif %}

			<td class="black-border-right center">{{ label }}</td>
			<td class="align-right thick-border-left">{{ arr_periode.entree_soumis[type].entreeTTC|number_format(2,',',' ') }} €</td>
			<td class="align-right">{{ arr_periode.entree_soumis[type].entreeHT|number_format(2,',',' ') }} €</td>
			<td class="align-right">
				{{ arr_periode.entree_soumis[type].entreeTVA|number_format(2,',',' ') }} €<br />
				{% if arr_periode.entree_soumis[type].taxe_percent.55 != 0 %}<i>5,5% : {{ arr_periode.entree_soumis[type].taxe_percent.55|number_format(2,',',' ') }} €</i><br />{% endif %}
				{% if arr_periode.entree_soumis[type].taxe_percent.100 != 0 %}<i>10% : {{ arr_periode.entree_soumis[type].taxe_percent.100|number_format(2,',',' ') }} €</i><br />{% endif %}
				{% if arr_periode.entree_soumis[type].taxe_percent.200 != 0 %}<i>20% : {{ arr_periode.entree_soumis[type].taxe_percent.200|number_format(2,',',' ') }} €</i>{% endif %}<br />
				{% if arr_periode.entree_soumis[type].taxe_percent.other != 0 %}<i>Autre : {{ arr_periode.entree_soumis[type].taxe_percent.other|number_format(2,',',' ') }} €</i>{% endif %}
			</td>
			{# <td class="thick-border-left">Soumis à TVA</td> #}
			<td class="align-right thick-border-left">{{ arr_periode.sortie_soumis[type].sortieTTC|number_format(2,',',' ') }} €</td>
			<td class="align-right">{{ arr_periode.sortie_soumis[type].sortieHT|number_format(2,',',' ') }} €</td>
			<td class="align-right">
				{{ arr_periode.sortie_soumis[type].sortieTVA|number_format(2,',',' ') }} €<br />
				{% if arr_periode.sortie_soumis[type].taxe_percent.55 != 0 %}<i>5,5% : {{ arr_periode.sortie_soumis[type].taxe_percent.55|number_format(2,',',' ') }} €</i><br />{% endif %}
				{% if arr_periode.sortie_soumis[type].taxe_percent.100 != 0 %}<i>10% : {{ arr_periode.sortie_soumis[type].taxe_percent.100|number_format(2,',',' ') }} €</i><br />{% endif %}
				{% if arr_periode.sortie_soumis[type].taxe_percent.200 != 0 %}<i>20% : {{ arr_periode.sortie_soumis[type].taxe_percent.200|number_format(2,',',' ') }} €</i>{% endif %}<br />
				{% if arr_periode.sortie_soumis[type].taxe_percent.other != 0 %}<i>Autre : {{ arr_periode.sortie_soumis[type].taxe_percent.other|number_format(2,',',' ') }} €</i>{% endif %}


			</td>

			
			<td class="align-right thick-border-left{% if arr_periode.balance[type] < 0 %} red {% else %} green{% endif %}"><strong>{{ arr_periode.balance[type]|number_format(2,',',' ') }} €</strong></td>
		

		</tr>
	{% endfor %}
	
	<!-- non soumis à tva  -->
	{% for label, type in types %}

		<tr class="{% if loop.last %} thick-border-bottom {% elseif loop.first %} black-border-top {% endif %} {% if arr_periode.mois is odd %} odd {% endif %}" >

			{% if loop.first %}
				<td class="thick-border-left thick-border-top black-border-bottom black-border-right align-middle center" rowspan="3">Non-soumis à TVA</td>
			{% endif %}

			<td class="black-border-right center">{{ label }}</td>
			<td class="align-right thick-border-left">{{ arr_periode.entree_non_soumis[type].entreeTTC|number_format(2,',',' ') }} €</td>
			<td class="align-right">{{ arr_periode.entree_non_soumis[type].entreeHT|number_format(2,',',' ') }} €</td>
			<td class="align-right">
				-
			</td>
			{# <td class="thick-border-left">Soumis à TVA</td> #}
			<td class="align-right thick-border-left">{{ arr_periode.sortie_non_soumis[type].sortieTTC|number_format(2,',',' ') }} €</td>
			<td class="align-right">{{ arr_periode.sortie_non_soumis[type].sortieHT|number_format(2,',',' ') }} €</td>
			<td class="align-right">-</td>
			<td class="align-right thick-border-left">-</td>

		</tr>
	{% endfor %}
	
{% endfor %}
