<div class="produit-collection row">
	<div class="col-md-2">
		{{ form_widget(form.date.day, {'attr' : {'class' : 'hidden'}}) }}
 		{{ form_widget(form.date.month) }}
	</div>
	<div class="col-md-2">
		{{ form_widget(form.date.year) }}
	</div>
	<div class="col-md-3 montant">
		<div class="input-group">
			{{ form_widget(form.montantMonetaire) }}<div class="input-group-addon">€</div>
		</div>
	</div>
	<div class="col-md-3 frais hidden">
		<div class="input-group">
			{{ form_widget(form.fraisMonetaire) }}<div class="input-group-addon">€</div>
		</div>
	</div>
	<div class="col-md-1">
		<a href="#" class="btn btn-xs btn-danger remove-repartition-button"><span class="glyphicon glyphicon-minus"></span></a>
	</div>
</div>
