{% extends 'crm/crm_layout.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			{% if ajout is defined %}
				<h1>Ajouter des frais</h1>
			{% else %}
				<h1>Editer les frais</h1>	
			{% endif %}
		</div>
	</div>

	{{ form_start(form) }}
	<div class="produit-collection">
		<table>
	        <thead>
                <th class="produit-input-type">{{ form_label(form.type) }}</td>
                <th class="produit-input-nom">{{ form_label(form.nom) }}</td>
                <th class="produit-input-nom">{{ form_label(form.date) }}</td>
                <th class="frais-input-number">{{ form_label(form.montantHT) }}</td>
                <th class="frais-input-number">{{ form_label(form.tva) }}</td>
                <th class="frais-input-number">{{ form_label(form.montantTTC) }}</td>
	        </thead>
	        <tbody>
	            <tr>
	                <td class="produit-input-type">
	                    <div class="form-group">
	                        {{ form_widget(form.type) }}
	                    </div>
	                </td>
	                <td class="produit-input-nom">
	                    <div class="form-group">
	                        {{ form_widget(form.nom) }}
	                    <div class="form-group">
	                </td>
	                <td class="produit-input-nom">
	                    <div class="form-group">
	                        {{ form_widget(form.date) }}
	                    <div class="form-group">
	                </td>
	                <td class="frais-input-number">
	                    <div class="form-group">
	                        <div class="input-group">
	                            {{ form_widget(form.montantHT) }}<div class="input-group-addon">€</div>
	                        </div>
	                    </div>
	                </td>
	                <td class="frais-input-number">
	                    <div class="form-group">
	                        <div class="input-group">
	                            {{ form_widget(form.tva) }}<div class="input-group-addon">€</div>
	                        </div>
	                    </div>
	                </td>
	                <td class="frais-input-number">
	                    <div class="form-group">
	                        <div class="input-group">
	                            {{ form_widget(form.montantTTC) }}<div class="input-group-addon">€</div>
	                        </div>
	                    </div>
	                </td>
	            </tr>
	            <tr>
	                <td colspan="2" class="produit-textarea">
	                    {{ form_row(form.description) }}
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</div>

    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="Enregistrer" class="btn btn-success" onclick="return confirmationTVA()" id="btn-submit-form" />
        </div>
    </div>
	{{ form_end(form) }}

{% endblock %}


{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">

	    $(document).ready(function() {

           	$('.montant-ht').change(function(){
            	updateMontants();
            });

            $('.montant-tva').change(function(){
            	updateMontants();
            });

            $('.montant-ttc').change(function(){
            	updateMontants();
            });

		    function updateMontants(li){

		    	var ht = $('.montant-ht').val();
		    	ht = ht.replace(",", ".");
		    	$('.montant-ht').val(ht);

		    	var tva = $('.montant-tva').val();
		    	tva = tva.replace(",", ".");
		    	$('.montant-tva').val(tva);

		    	var ttc = $('.montant-ttc').val();
		    	ttc = ttc.replace(",", ".");
		    	$('.montant-ttc').val(ttc);

		    	if(tva != 0){
		    		if(ht != 0){
		    			var ttc = +ht + +tva;
		    			$('.montant-ttc').val(ttc.toFixed(2));
		    		} else if (ttc != 0){
		    			var ht = +ttc - +tva;
		    			$('.montant-ht').val(ht.toFixed(2));
		    		}
		    		
		    	} else if(ttc !=0 && ht !=0){
		    		var tva = ttc-ht;
		    		$('.montant-tva').val(tva.toFixed(2));
		    	} 
		    }
	    });
	   
	</script>
{% endblock %}