{% extends 'crm/crm_layout.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-12 center-mobile">
			<h1>Action commerciale</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
		    <p class="group-btn">
		    	<a href="{{ path('crm_action_commerciale_editer', {'id' : opportunite.id }) }}"  class="btn btn-warning btn-block-mobile">
		    		<span class="glyphicon glyphicon-pencil"></span> Modifier
		    	</a>  	

		    	{% if opportunite.isLost() == false and opportunite.isWon() == false %}
			    	<a href="{{ path('crm_action_commerciale_gagner', {'id' : opportunite.id }) }}" class="btn btn-success btn-block-mobile">
			    		<span class="glyphicon glyphicon-thumbs-up"></span> Marquer gagnée
			    	</a> 
			    	<a href="{{ path('crm_action_commerciale_perdre', {'id' : opportunite.id }) }}" class="btn btn-danger btn-block-mobile">
			    		<span class="glyphicon glyphicon-thumbs-down"></span> Marquer perdue
			    	</a> 
		   		{% endif %} 

		   		{% if opportunite.devis %}

		   			{% if opportunite.isLost == false %}
				    	<a href="{{ path('crm_action_commerciale_envoyer', {'id' : opportunite.id }) }}"  class="btn btn-block-mobile {% if (opportunite.contact is null) %} btn-default not-active {% else %} {% if opportunite.devis.contact.email is null %} btn-default not-active {% else %} btn-primary {% endif %}{% endif %}"  data-toggle="modal" data-target="#modal" id="btn-send-devis">
					    	<span class="glyphicon glyphicon-send"></span> Envoyer le devis par email
					    </a>
				   {% endif %}

				    <a href="{{ path('crm_action_commerciale_exporter', {'id' : opportunite.id }) }}"  class="btn btn-primary btn-block-mobile">
		    			<span class="glyphicon glyphicon-floppy-disk"></span> Exporter le devis
		    		</a>

		    		{% if opportunite.isWon and opportunite.hasFraisRefacturables and opportunite.totalFraisNonFactures > 0 %}
			    		<a href="{{ path('crm_action_commerciale_facturer_frais', {'id' : opportunite.id }) }}" class="btn btn-primary " data-toggle="modal" data-target="#modal">
			    			<span class="glyphicon glyphicon-euro"></span> Facturer les frais
			    		</a>
			    	{% endif %}

		    		{% if opportunite.isWon and opportunite.totalBonsCommande == opportunite.montantInt %}
	    		    	{% if facture is null or facture|length == 0 %}
	    			    	<a href="{{ path('crm_action_commerciale_convertir', {'id' : opportunite.id }) }}"  class="btn btn-primary btn-block-mobile" data-toggle="modal" data-target="#modal" id="btn-convertir-devis">
	    			    		<span class="glyphicon glyphicon-check"></span> Convertir en facture
	    			    	</a>
	    		    	{% else %}
	    			    	<a href="{{ path('crm_action_commerciale_convertir', {'id' : opportunite.id }) }}"  class="btn btn-primary btn-block-mobile" data-toggle="modal" data-target="#modal"  id="btn-convertir-devis">
	    			    		<span class="glyphicon glyphicon-check"></span> Ajouter une autre facture
	    			    	</a>

	    			    	{% if facture|length == 1 %}
	    						<a href="{{ path('crm_facture_voir', {'id' : facture|first.id }) }}"  class="btn btn-primary btn-block-mobile">
	    							<span class="glyphicon glyphicon-eye-open"></span> Voir la facture
	    						</a>
	    					{% elseif facture|length > 1 %}
	    						<a href="{{ path('crm_factures_devis_liste', {'id' : opportunite.devis.id }) }}"  class="btn btn-primary btn-block-mobile">
	    							<span class="glyphicon glyphicon-eye-open"></span> Voir les factures
	    						</a>
	    					{% endif %}
	    		    	{% endif %}
	    		    {% endif %}

			    	<a href="{{ path('crm_impulsion_ajouter_action_commerciale', {'id' : opportunite.id }) }}"  class="btn hidden-xs {% if (opportunite.contact is null) %} btn-default not-active {% else %} btn-primary {% endif %}" >
				    	<span class="glyphicon glyphicon-time"></span> Ajouter un suivi
				    </a>
				    
				{% endif %}

				<a href="{{ path('crm_action_commerciale_dupliquer', {'id' : opportunite.id }) }}"  class="btn btn-primary btn-block-mobile">
		    		<span class="glyphicon glyphicon-duplicate"></span> Dupliquer
		    	</a>

		    	{% if opportunite.isWon() and false == opportunite.termine %}
		    		<a href="{{ path('crm_action_commerciale_terminer', {'id' : opportunite.id }) }}"  class="btn btn-danger btn-block-mobile">
			    		<span class="glyphicon glyphicon-folder-close"></span> Terminer
			    	</a>
		    	{% endif %}

		    	<a href="{{ path('crm_action_commerciale_supprimer', {'id' : opportunite.id }) }}"  class="btn btn-danger btn-block-mobile">
		    		<span class="glyphicon glyphicon-trash"></span> Supprimer
		    	</a>

		    </p>
		    
	    </div>
    </div>

    {% if opportunite.totalBonsCommande != opportunite.montantInt  and opportunite.isWon %}
    	 <div class="row">
	    	<div class="col-md-12">
	    		<div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> Le montant total de l'action commerciale ne correspond pas au montant des bons de commande associés.</div>
	    	</div>
	    </div>
    {% endif %}

    
     <div class="row" id="opportunite_details">
    	<div class="col-md-12 center-mobile">
    		<h2>{{ opportunite.nom }} <span class="hidden-xs">-</span> <span class="block-mobile">{{ opportunite.montant|number_format(2, ',', ' ') }} &euro;</span>
    		<br class="hidden-xs" />
    		
	    	{% if opportunite.isWon %}
				<small>Frais = {{ opportunite.totalFrais|number_format(2, ',', ' ') }} &euro;</small><br />
				{% if opportunite.termine %}
					<small><span class="glyphicon glyphicon-folder-close"></span> Action commerciale terminée</small>
				{% else %}
					<small class="green"><span class="glyphicon glyphicon-thumbs-up"></span> Action commerciale gagnée</small>
				{% endif %}
			{% elseif opportunite.isLost %}
				<small class="red"><span class="glyphicon glyphicon-thumbs-down"></span> Action commerciale perdue</small>
			{% else %}
				<small><span class="glyphicon glyphicon-time"></span> Action commerciale en cours</small>
			{% endif %}
			</h2>
    	</div>
    </div>

    <div class="row">
    	<div class="col-md-6">
    		<table class="contact-view-table">
    			<tbody>
					<tr>
						<td>Objet</td>
						<td id="action-commerciale-objet">
							{{ opportunite.nom }}

						</td>
					</tr>
					<tr>
		    			<td>Analytique</td>
		    			<td id="action-commerciale-analytique">
		    			{{ opportunite.analytique }}
		    			</td>
		    		</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
    		<table class="contact-view-table">
    			<tbody>
    				<tr>
						<td>Gestionnaire</td>
						<td id="action-commerciale-user-gestion">
							{{ opportunite.userGestion }}
							{% if opportunite.userGestion.enabled == false %}
								<a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" title="Utilisateur inactif" data-content="Cet utilisateur est inactif. Vous devriez changer le gestionnaire de l'opportunité.">
									<span class="glyphicon glyphicon-warning-sign red"></span>
								</a>
							{% endif %}
						</td>
					</tr>
    			</tbody>
    		</table>
    	</div>
    </div>

	    <div class="row">
			<div class="col-md-12">
				<hr />
			</div>
		</div>

		    <div class="row">
		    	<div class="col-md-6">
		    		<table class="contact-view-table">
		    			<tbody>
							<tr>
								<td>Date</td>
								<td id="action-commerciale-date">
									{{ opportunite.date|date("d/m/Y") }}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-6">
		    		<table class="contact-view-table">
		    			<tbody>
							<tr>
								<td>Date de validité</td>
								<td id="action-commerciale-date-validite">
									{% if opportunite.devis %}
										{{ opportunite.devis.dateValidite|date("d/m/Y") }}
									{% endif %}
								</td>
							</tr>
		    			</tbody>
		    		</table>
		    	</div>
		    </div>

	    <div class="row">
	    	<div class="col-md-6">
	    		<table class="contact-view-table">
	    			<tbody>
	    				<tr>
	    					<td>Organisation</td>
				    		<td id="action-commerciale-compte">
				    			<a href="{{ path('crm_compte_voir', {'id' : opportunite.compte.id }) }}">
									{{ opportunite.compte.nom }}
								</a>
				    		</td>
	    				</tr>
	    				<tr>
	    					<td>Adresse</td>
	    					<td>
	    						{% if opportunite.devis %}
									{{ opportunite.devis.adresse }}
								{% endif %}
				    		</td>
	    				</tr>
	    				<tr>
	    					<td>Code postal</td>
	    					<td>
	    						{% if opportunite.devis %}
									{{ opportunite.devis.codePostal }}
								{% endif %}
				    		</td>
	    				</tr>
	    			</tbody>
	    		</table>
	    	</div>
	    	<div class="col-md-6">
	    		<table class="contact-view-table">
	    			<tbody>
	    				<tr>
							<td>Contact</td>
							<td id="action-commerciale-contact">
								{% if opportunite.contact %}
									<a href="{{ path('crm_contact_voir', {'id' : opportunite.contact.id }) }}">
										{{ opportunite.contact.prenom }} {{ opportunite.contact.nom }}
									</a>
								{% else %}
									-
								{% endif %}
							</td>
						</tr>
						<tr>
	    					<td>Ville</td>
				    		<td>
				    			{% if opportunite.devis %}
									{{ opportunite.devis.compte.ville }}
								{% endif %}
				    		</td>
	    				</tr>
	    				<tr>
	    					<td>Région</td>
				    		<td>
				    			{% if opportunite.devis %}
									{{ opportunite.devis.compte.region }}
								{% endif %}
				    		</td>
	    				</tr>
	    				<tr>
	    					<td>Pays</td>
				    		<td>
				    			{% if opportunite.devis %}
									{{ opportunite.devis.compte.pays }}
								{% endif %}
				    		</td>
	    				</tr>
	    			</tbody>
	    		</table>
	    	</div>
	    </div>

	    <div class="row">
			<div class="col-md-12">
				<hr />
			</div>
		</div>

	    <div class="row">
			<div class="col-md-6">
				<table  class="contact-view-table">
					<tr>
			    		<tr>
							<td>Probabilité</td>
							<td>{{ opportunite.probabilite.valeur }}</td>
						</tr>
						<td>Nouveau compte</td>
			    		<td>
							{% if opportunite.nouveauCompte %}
								Oui
							{% else %}
								Non
							{% endif %}
			    		</td>
    				</tr>
    				<tr>
						<td>Appel d'offre</td>
						<td>
							{% if opportunite.appelOffre %}
								Oui
							{% else %}
								Non
							{% endif %}
						</td>
					</tr>

				</table>
			</div>
			<div class="col-md-6">
				<table  class="contact-view-table">
					<tr>
						<td>Origine</td>
						<td>
						{{ opportunite.origine }}
						</td>
					</tr>
					<tr>
						<td>Privé ou public</td>
						<td id="action-commerciale-priveOrPublic">
							{{ opportunite.priveOrPublicToString }}
						</td>
					</tr>
					
					<tr>
						<td>Prescription</td>
						<td>
							{% if opportunite.prescription %}
								Oui
							{% else %}
								Non
							{% endif %}
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<hr />
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<table  class="contact-view-table">
					<tr>
    					<td>Temps passé en commercial </td>
			    		<td>
			    			{% if opportunite.tempsCommercial %}
								{{ opportunite.tempsCommercial }} heures
			    			{% else %}
			    				-
			    			{% endif %}
			    		</td>
    				</tr>

				</table>
			</div>
			<div class="col-md-6">
				<table  class="contact-view-table">
					<tr>
						<td>Proposition commerciale</td>
						<td>
							{% if opportunite.fichier %}
								<a href="{{ actions_commerciales_fichier_directory }}/{{ opportunite.fichier }}" target="_blank"> 
									<figure class="fichier">
									    <img src="{{ asset('images/assets/file.png') }}" alt="Fichier" />
									    <figcaption>{{ opportunite.fichier }}</figcaption>
									</figure>
								</a>
 							{% endif %}
						</td>
					</tr>
				</table>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<hr />
			</div>
		</div>
		
		{% if opportunite.devis %}
			<div class="row hidden-xs">
		    	<div class="col-md-12 produit-collection produit-collection-voir">
			    	<table >
						<thead>
							<tr>
								<th class="produit-input-type">Type</th>
								<th class="produit-input-nom">Nom</th>
								<th class="produit-input-number">Tarif unitaire (€)</th>
								<th class="produit-input-number">Quantité</th>
								<th class="produit-input-number">Montant (€)</th>
								<th class="produit-input-number">Remise (€)</th>
								<th class="produit-input-number">Total (€)</th>
							</tr>
						</thead>
						<tbody>
				    	{% for produit in opportunite.devis.produits %}
							{{ include('crm/produit/crm_produit_voir.html.twig', { 'produit': produit }) }}
				    	{% endfor %}
				    	</tbody>
				    </table>
				    <hr />
		    	</div>
		    </div>

		    <div class="row visible-xs">
		    	<div class="col-md-12">
				    {% for produit in opportunite.devis.produits %}
						{{ include('crm/produit/crm_produit_voir_mobile.html.twig', { 'produit': produit }) }}
			    	{% endfor %}
			    </div>
			</div>

		    <div class="row">
			    <div class="col-md-12 col-xs-12" id="devis-calcul-wrapper">
			    	
			   		<div class="form-group">
			   			<span class="devis-label">Sous total</span>
			   			<span class="devis-montant">{{ opportunite.devis.sousTotal|number_format(2, ',', ' ') }} €</span>
			   		</div>
			    	<div class="form-group">
			    		<span class="devis-label">Remise</span>
			    		<span class="devis-montant">
			    			{% if opportunite.remise is not null %}
			    				{{ opportunite.remise|number_format(2, ',', ' ') }} €
			    			{% else %}
			    				-
			    			{% endif %}
			    		</span>
			    	</div>
			    	<div class="form-group">
			    		<span class="devis-label">Total HT</span>
			    		<span class="devis-montant" id="total-ht">{{ opportunite.devis.totalHT|number_format(2, ',', ' ') }} €</span>
			    	</div>
					<div class="form-group">
						<span class="devis-label">TVA en %</span>
						{% if opportunite.devis.taxe is not null %}
							<span class="devis-montant" id="total-tax-percent">
								{{ opportunite.devis.taxePercent*100 }}%
							</span>
						{% else %}
							<span class="devis-montant">&nbsp;</span>
							<span class="devis-montant">-</span>
						{% endif %}
					</div>
					<div class="form-group">
						<span class="devis-label">TVA en €</span>
						{% if opportunite.devis.taxe is not null %}
							<span class="devis-montant" id="total-tax-montant">
								{{ opportunite.devis.taxe|number_format(2, ',', ' ') }} €
							</span>
						{% else %}
							<span class="devis-montant">&nbsp;</span>
							<span class="devis-montant">-</span>
						{% endif %}
					</div>
			   	 	<div class="form-group">
			   	 		<span class="devis-label">
			   	 			{% if opportunite.devis.taxe is not null %} Total TTC {% else %} Total prix net {% endif %}
			   	 		</span>
			   	 		<span class="devis-montant" id="total-ttc">{{ opportunite.devis.totalTTC|number_format(2, ',', ' ') }} €</span>
			   	 	</div>
			    </div>
			</div>

		    <div class="row">
				<div class="col-md-12">
					<hr />
				</div>
			</div>

			 <div class="row">
		    	<div class="col-md-12">
		    		<table class="contact-view-table">
		    			<tbody>
		    				<tr>
		    					<td>Description</td>
					    		<td>
									{{ opportunite.devis.description }}
					    		</td>
		    				</tr>
		    				
		    			</tbody>
		    		</table>

		    	</div>
		    </div>

	       <div class="row">
	    		<div class="col-md-12">
	    			<hr />
	    		</div>
	    	</div>

		    <div class="row">
		    	<div class="col-md-12">
		   			<table class="contact-view-table">
		    			<tbody>
		    				<tr>
		    					<td>CGV</td>
					    		<td>
									{{ opportunite.devis.cgv }}
					    		</td>
		    				</tr>
		    			</tbody>
		    		</table>
		    	</div>
		    </div>
		{% else %}
			 <div class="row">
				<div class="col-md-6">
					<table  class="contact-view-table">
						<tr>
	    					<td>Montant</td>
				    		<td>
								{{ opportunite.montant }} €
				    		</td>
				    	</tr>
				    </table>
			 	</div>
			</div>
		{% endif %}

	    <div class="row">
	 		<div class="col-md-12">
	 			<hr />
	 		</div>
	 	</div>

		{% if opportunite.isWon() %}

			<div class="row">
				<div class="col-md-12">
					<hr />
					<h3>Bons de commande 
					<a class="btn btn-primary btn-xs" href=" {{ path('crm_action_commerciale_gagner_bon_commande', {'id' : opportunite.id, 'edition' : true }) }} ">Modifer</a> 
					</h3>
					<table class="contact-view-table" id="table-bons-commande">
						<thead>
							<tr>
								<th>Numéro</th>
								<th>Montant</th>
								<th>Frais refacturables</th>
							</tr>
						</thead>
						<tbody>

						{% for bonCommande in opportunite.bonsCommande %}
							<tr>
								<td> 
									{{ bonCommande.num }} 
								</td>
								<td>
									{{ bonCommande.montantMonetaire|number_format(2, ',', ' ') }} €
								</td>
								<td>
									{% if true == bonCommande.fraisRefacturables %}
										<span class="glyphicon glyphicon-ok"></span>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>

				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<hr />
					<h3>Frais refacturables
						{% if true == opportunite.hasFraisRefacturables and opportunite.totalFraisNonFactures > 0 %}
							<a href="{{ path('crm_action_commerciale_facturer_frais', {'id' : opportunite.id }) }}" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal">Facturer les frais</a>
						{% endif %}
						<a href="{{ path('crm_action_commerciale_frais_ajouter', {'id' : opportunite.id }) }}" class="btn btn-xs btn-primary">Ajouter des frais</a>
					</h3>
				</div>
			</div>
			
			<div class="row">
				{% if false == opportunite.hasFraisRefacturables %}
					<div class="col-md-12 alert alert-warning">
						Les frais de cette action commerciale ne sont pas refacturables.
					</div>
				{% else %}
					<div class="col-md-12 alert alert-success">
						Les frais de cette action commerciale sont refacturables.
					</div>
				{% endif %}
			</div>
		
			<div class="row">

				<div class="col-md-2 center">
					<p>Total</p>
					<p class="xl">{{ opportunite.totalFrais|number_format(2, ',', ' ') }} €</p>
				</div>
				{% if true == opportunite.hasFraisRefacturables %}
					<div class="col-md-2 center">
						<p>Total facturé</p>
						<p class="xl">{{ opportunite.totalFraisFactures|number_format(2, ',', ' ') }} €</p>
					</div>
					<div class="col-md-2 center">
						<p>Reste à facturer</p>
						<p class="xl">{{ opportunite.totalFraisNonFactures|number_format(2, ',', ' ') }} €</p>
					</div>
				{% endif %}
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="contact-view-table" id="table-bons-commande">
						<thead>
							<tr>
								<th>Type</th>
								<th>Libelle</th>
								<th>Date</th>
								<th>Montant (HT)</th>
								{# <th>Montant TVA</th>
								<th>Montant TTC</th> #}
								{% if true == opportunite.hasFraisRefacturables %}
									<th>Facturé</th>
								{% endif %}
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>

						{% for frais in opportunite.frais %}
							<tr>
								<td>
									Manuel
								</td>
								<td>
									{{ frais.nom }}<br />
									{{ frais.description }}
								</td>
								<td>
									{{ frais.date|date('d/m/Y') }}
								</td>
								<td>
									{{ frais.montantHT|number_format(2,',', ' ') }} €
								</td>
								{# <td>
									{{ frais.tva|number_format(2,',', ' ') }} €
								</td>
								<td>
									{{ frais.montantTTC|number_format(2,',', ' ') }} €
								</td> #}
								{% if true == opportunite.hasFraisRefacturables %}
									<td>
										{% if true == frais.produit %}
											<span class="glyphicon glyphicon-ok"></span>&nbsp;
											<a href="{{ path('crm_facture_voir', {'id' : frais.produit.documentPrix.id }) }}">{{ frais.produit.documentPrix.num }}</a>
										{% endif %}
									</td>
								{% endif %}
								<td>
									{% if false == frais.produit %}
										<a href="{{ path('crm_action_commerciale_frais_editer', {'id' : frais.id }) }}" class="btn btn-xs btn-primary">
											<span class="glyphicon glyphicon-pencil"></span>
										</a>

										<a href="{{ path('crm_action_commerciale_frais_supprimer', {'id' : frais.id }) }}" class="btn btn-xs btn-danger">
											<span class="glyphicon glyphicon-remove"></span>
										</a>

									{% else %}
										<a href="#" class="btn btn-xs btn-default not-active">
											<span class="glyphicon glyphicon-pencil"></span>
										</a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}

						{% for recu in opportunite.recus %}
							<tr>
								<td>
									Note de frais
								</td>
								<td>
									{% if recu.ligneDepense %}
										{{ recu.ligneDepense.depense.noteFrais.__toStringSansTotal }}
									{% else %}
										NDF {{ recu.user }}
									{% endif %}
									<br />
									{{ recu.fournisseur }}
								</td>
								<td>
									{{ recu.date|date('d/m/Y') }}
								</td>
								<td>
									{{ recu.montantHT|number_format(2,',', ' ') }} €
								</td>
								{# <td>
									{{ recu.tva|number_format(2,',', ' ') }} €
								</td>
								<td>
									{{ recu.montantTTC|number_format(2,',', ' ') }} €
								</td> #}
								{% if true == opportunite.hasFraisRefacturables %}
									<td>
										{% if true == recu.produit %}
											<span class="glyphicon glyphicon-ok"></span>&nbsp;
											<a href="{{ path('crm_facture_voir', {'id' : recu.produit.documentPrix.id }) }}">{{ recu.produit.documentPrix.num }}</a>
										{% endif %}
									</td>
								{% endif %}
								<td>
									{% if false == recu.produit %}
										{% if recu.ligneDepense.depense.noteFrais.etat|upper != "VALIDE" and  recu.ligneDepense.depense.noteFrais.etat|upper != "RAPPROCHE" %}
											<a href="{{ path('ndf_recu_modifier', {'id' : recu.id }) }}" class="btn btn-xs btn-warning">
												<span class="glyphicon glyphicon-pencil"></span>
											</a>
										{% else %}
											<a href="#" class="btn btn-xs btn-default not-active">
												<span class="glyphicon glyphicon-pencil"></span>
											</a>
										{% endif %}

									{% else %}
										<a href="#" class="btn btn-xs btn-default not-active">
											<span class="glyphicon glyphicon-pencil"></span>
										</a>
									{% endif %}

									<a href="{{ path('ndf_recu_non_refacturable', {'id' : recu.id }) }}" class="btn btn-xs btn-danger">
										<span class="glyphicon glyphicon-remove"></span>
									</a>
								</td>
							</tr>
						{% endfor %}

						{% for fraisSousTraitant in opportunite.fraisSousTraitants %}
							<tr>
								<td>
									Sous-traitance
								</td>
								<td>
									{{ fraisSousTraitant.opportuniteSousTraitance.sousTraitant }}<br />
									{{ fraisSousTraitant.date|date('m/Y') }}
								</td>
								<td>
									{{ fraisSousTraitant.date|date('d/m/Y') }}
								</td>
								<td>
									{{ fraisSousTraitant.fraisMonetaire|number_format(2,',', ' ') }} €
								</td>
								{# <td></td>
								<td></td> #}
								{% if true == opportunite.hasFraisRefacturables %}
									<td>
										{% if true == fraisSousTraitant.produit %}
											<span class="glyphicon glyphicon-ok"></span>&nbsp;
											<a href="{{ path('crm_facture_voir', {'id' : fraisSousTraitant.produit.documentPrix.id }) }}">{{ fraisSousTraitant.produit.documentPrix.num }}</a>
										{% endif %}
									</td>
								{% endif %}
								<td>
									{% if false == fraisSousTraitant.produit %}
										<a href="{{ path('crm_action_commerciale_sous_traitance_editer', {'id' : fraisSousTraitant.opportuniteSousTraitance.id }) }}" class="btn btn-xs btn-primary">
											<span class="glyphicon glyphicon-pencil"></span>
										</a>
									{% else %}
										<a href="#" class="btn btn-xs btn-default not-active">
											<span class="glyphicon glyphicon-pencil"></span>
										</a>
									{% endif %}
									
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		
			<div class="row">
				<div class="col-md-12">
					<hr />
					<h3>Plan de paiement
						<a class="btn btn-primary btn-xs" href=" {{ path('crm_action_commerciale_gagner_plan_paiement', {'id' : opportunite.id, 'edition' : true }) }} ">Modifer</a> 
					</h3>
					<table class="contact-view-table" id="plan-paiement-table">
						<thead>
							<tr>
								<th class="col-md-3">Nom de la phase</th>
								<th class="col-md-2">Date de facturation</th>
								<th class="col-md-2">Pourcentage à facturer</th>
								<th class="col-md-2">Montant</th>
								<th class="col-md-3">Facture</th>
							</tr>
						</thead>
						<tbody>
						{% for planPaiement in opportunite.planPaiements %}
							<tr>
								<td>
									{{ planPaiement.nom }} 
								</td>
								<td>
									{% if planPaiement.commande %}
										A la commande
									{% elseif planPaiement.finProjet %}
										A la fin du projet
									{% else %} 
										{{ planPaiement.date|date('d/m/Y') }} 
									{% endif %}
								</td>
								<td>
									{{ planPaiement.pourcentageToString|number_format(2,',',' ') }} %
								</td>
								<td>
									{{ planPaiement.montantToString|number_format(2,',',' ') }} €
								</td>
								<td>
									{% if planPaiement.facture %}
										<span class="green glyphicon glyphicon-ok" title="Facturé"></span>&nbsp;
										<a href="{{ path('crm_facture_voir', {'id' : planPaiement.facture.id } ) }}">{{ planPaiement.facture.num }}</a>
									{% elseif planPaiement.finProjet or planPaiement.date|date('Ymd') > "now"|date('Ymd') %}
										<span class="orange glyphicon glyphicon-time" title="Pas encore facturée"></span> 
										<i>Pas encore facturé</i>
										&nbsp;
										<a class="btn btn-xs btn-primary" href="{{ path('crm_action_commerciale_convertir', {'id' : opportunite.id, 'planPaiementId' : planPaiement.id }) }}" data-toggle="modal" data-target="#modal">
											Facturer
										</a>
									{% else %}
										<strong>
											<span class="red glyphicon glyphicon-warning-sign" title="Facture en retard"></span> 
											<span class="red">RETARD</span>
										</strong>
										&nbsp;
										<a class="btn btn-xs btn-primary" href="{{ path('crm_action_commerciale_convertir', {'id' : opportunite.id, 'planPaiementId' : planPaiement.id }) }}" data-toggle="modal" data-target="#modal">
											Facturer
										</a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>

				</div>
			</div>


			<div class="row">
				<div class="col-md-12">
					<hr />
					<h3>Répartition du montant en fonction de l'activité prévue 
						<a class="btn btn-primary btn-xs" href=" {{ path('crm_action_commerciale_gagner_repartition', {'id' : opportunite.id, 'edition' : true }) }} ">Modifer</a>
					</h3> 

					<table class="contact-view-table" id="table-repartition">
						<tbody>
						{% for repartition in opportunite.opportuniteRepartitions %}
							<tr>
								<td> {{ repartition.date|localizeddate('medium', 'none', app.request.locale, null, 'MMM YYYY' ) }} </td>
								<td>
									{{ repartition.montantMonetaire|number_format(2, ',', ' ') }} €
								</td>
								{% if opportunite.opportuniteSousTraitances|length > 0 %}
									<td>
										dont sous-traitance :
										<ul>
											{% set hasSousTraitance = false %}
											{% for sousTraitance in opportunite.opportuniteSousTraitances %}
												{% for sousTraitanceRepartition in sousTraitance.repartitions %}
													{% if sousTraitanceRepartition.date|date('Y-m') == repartition.date|date('Y-m') %}
														{% set hasSousTraitance = true %}
														<li>
															{{ sousTraitance.sousTraitant }} : {{ sousTraitanceRepartition.montantMonetaire|number_format(2, ',', ' ') }} €  
														</li>
													{% endif %}
												{% endfor %}
											{% endfor %}

											{% if hasSousTraitance == false %}
												<li>0 €</li>
											{% endif %}
										</ul>
									</td>
								{% endif %}
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<hr />
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<h3>Sous-traitants 

						<a class="btn btn-xs btn-primary" 
							href="{{ path('crm_action_commerciale_gagner_sous_traitance', {'id' : opportunite.id }) }}"
							{% if 0 == opportunite.opportuniteRepartitions|length %}
								disabled
							{% endif %}
							>
							Ajouter un sous-traitant
						</a>

					</h3>

					{% if 0 == opportunite.opportuniteSousTraitances|length %}
						<p>Pas de sous-traitance</p>
					{% else %}
						<table class="contact-view-table">
							<thead>
								<tr>
									<th>Sous traitant</th>
									<th>Montant de la sous-traitance</th>
									<th>Montant des frais</th>
									<th>Factures</th>
								</tr>
							</thead>
							<tbody>
							{% for sousTraitance in opportunite.opportuniteSousTraitances %}
								<tr>
									<td> {{ sousTraitance.sousTraitant }} </td>
									<td>
										{{ sousTraitance.montantMonetaire|number_format(2, ',', ' ') }} € 
										{% if sousTraitance.htPrixNet is not null %}
											{{ sousTraitance.htPrixNet }}
										{% endif %}

										<a href="{{ path('crm_action_commerciale_sous_traitance_editer', {'id' : sousTraitance.id }) }}" class="btn btn-xs btn-primary">Modifier</a>
									</td>
									<td>
										{{ sousTraitance.montantFraisMonetaire|number_format(2, ',', ' ') }} € <a href="{{ path('crm_action_commerciale_sous_traitance_editer', {'id' : sousTraitance.id }) }}" class="btn btn-xs btn-primary">Modifier</a>
									</td>
									<td>
										{% for depense in sousTraitance.depenses %}
											{% if loop.first %}
												Factures : 
											{% endif %}
											<a href=" {{ path('compta_depense_voir', {'id' : depense.depense.id }) }} " >{{ depense.depense.num }} </a> ({{ depense.montantMonetaire|number_format(2, ',', ' ') }} €)
											{% if loop.last == false %}
												, 
											{% endif %}
										{% endfor %}
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					{% endif %}

					{% if 0 == opportunite.opportuniteRepartitions|length %}
						<div class="alert alert-warning">
							<span class="glyphicon glypicon-warning-sign"></span> Vous devez remplir la répartition du montant en fonction de l'activité avant de pouvoir ajouter un sous-traitant.
							<a class="btn btn-primary btn-xs" href=" {{ path('crm_action_commerciale_gagner_repartition', {'id' : opportunite.id, 'edition' : true }) }} ">Remplir</a>
						</div>
					{% endif %}

				</div>
				<div class="col-md-6">
					<div id="gauge-sous-traitance">
						<!-- Gauge Chart loaded by javascript -->
					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-md-12">
					<hr />
					<h3>Temps passé sur le projet</h3>
				</div>
			</div>
			{% if opportunite.usersHaveTauxHoraires == false %}
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-warning">
							<span class="glyphicon glyphicon-warning-sign"></span>
							Le taux horaire de certains utilisateurs n'a pas été renseigné. Le résultat peut donc être érroné.
						</div>
					</div>
				</div>
			{% endif %}
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-4 center">
							<p>Temps total passé</p>
							<p class="xl">{{ opportunite.tempsTotalAsString }}</p>
						</div>
						<div class="col-md-4 center">
							<p>Temps passé (hors commercial)</p>
							<p class="xl">{{ opportunite.tempsSansCommercialAsString }}</p>
						</div>
						<div class="col-md-4 center">
							<p>Coût total (hors commercial)</p>
							<p class="xl">{{ opportunite.tempsTotalMontant|number_format('2', ',', ' ') }} €</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<table class="contact-view-table">
								<thead>
									<tr>
										<th>Date</th>
										<th>Personne</th>
										<th>Activité</th>
										<th>Temps passé</th>
									</tr>
								</thead>
								<tbody>
									<tr>   
									    <td>
									        {{ opportunite.date|date('d/m/Y') }}
									    </td>
									    <td>
									    	{{ opportunite.userGestion }}
									    </td>
									    <td>
									        Commercial
									    </td>
									    <td>
									        {{ opportunite.tempsCommercialAsString }}
									    </td>
									</tr>
									{% for temps in opportunite.temps %}
								        <tr>   
								            <td>
								                {{ temps.date|date('d/m/Y') }}
								            </td>
								            <td>
									    		{{ temps.user }}
									    		{% if temps.user.tauxHoraire is empty %}
									    			<a role="button" data-toggle="popover" data-trigger="hover" title="Taux horaire inconnu" data-content="Le taux horaire de cet utilisateur n'est pas renseigné.">
									    				<span class="glyphicon glyphicon-warning-sign red"></span>
									    			</a>
									    		{% endif %}
									    	</td>
								            <td>
								                {{ temps.activite }}
								            </td>
								            <td>
								                {{ temps.dureeAsString }}
								            </td>
								        </tr>   
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
				<div class="col-md-6 center">
					<div id="gauge-rentabilite">
						<!-- Gauge Chart loaded by javascript -->
					</div>
				</div>
			</div>
		{% endif %}

		<div class="row">
			<div class="col-md-12">
				<hr />
			</div>
		</div>

	    <div class="row">
	    	<div class="col-md-6">
	     		<table class="contact-view-table">
	     			<tbody>
	     				<tr>
	     					<td>Créé le</td>
				    		<td>
				    			{{ opportunite.dateCreation|date("d/m/Y") }}
				    		</td>
	     				</tr>
	     				<tr>
	     					<td>Par</td>
		    				<td id="action-commerciale-user-creation">
								{{ opportunite.userCreation }}
							</td>

	     				</tr>
	     			</tbody>
	     		</table>
	     	</div>
	     	<div class="col-md-6">
	     		<table class="contact-view-table">
	     			<tbody>
	     				<tr>
				    		<td>Modifié le</td>
				    		<td>
				    			{% if opportunite.dateEdition is empty %}
						    		Jamais
						    	{% else %}
									{{ opportunite.dateEdition|date("d/m/Y") }}
						    	{% endif %}
				    		</td>
			    		</tr>
			    		<tr>
		    			{% if opportunite.userEdition is not empty %}
				    		<td>Par</td>
		    				<td>
								{{ opportunite.userEdition }}
							</td>
				    	{% endif %}
			    		</tr>
	     			</tbody>
	    		</table>
	    	</div>
	    </div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('lib/justgage/justgage.1.0.1.min.js') }}"></script>
	<script src="{{ asset('lib/justgage/raphael.2.1.0.min.js') }}"></script>

	<script type="text/javascript">
		$(document).ready( function () {
			{% if opportunite.isWon() %}
				var g = new JustGage({
				    id: "gauge-sous-traitance",
				    value: {{ opportunite.montantMonetaireSousTraitance|number_format(2,'.','') }},
				    min: 0,
				    max: {{ opportunite.montant }},
				    title: "Sous-traitance",
				    levelColors: ["a9d60c", "f8c700", "ff0000"],
				    levelColorsGradient: false,
				    label: "€"
				});

				var gt = new JustGage({
				    id: "gauge-rentabilite",
				    value: {{ opportunite.tempsTotalMontant|number_format(2,'.','') }},
				    min: 0,
				    max: {{ opportunite.gainReel }},
				    title: "Temps passé",
				    levelColors: ["a9d60c", "f8c700", "ff0000"],
				    levelColorsGradient: false,
				    label: "€"
				});
			{% endif %}
		});
	</script>
{% endblock %}
