{% extends 'compta/compta_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Achats : dépenses en retard</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% include 'compta/depense/compta_depense_submenu.html.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="align-right" id="wrapper-totaux">
                <!-- filled by AJAX when dateRange is changed -->
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('danger') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label id="NodesToMove" class="hidden"><input id="dateRange" name="dateRange"></label>
            <table id="table_depense_list" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="col-md-2">Numéro de dépense</th>
                        <th class="col-md-2">Date de création</th>
                        <th class="col-md-2">Retard</th>
                        <th class="col-md-2">Compte</th>
                        <th class="col-md-2">Libellé</th>
                        <th class="col-md-2">Total</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.comiseo.daterangepicker.css') }}" type="text/css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/moment.js') }}"></script>
    <script src="{{ asset('js/jquery.comiseo.daterangepicker.js') }}"></script>
    <script src="{{ asset('js/datepicker-fr.js') }}"></script>
    <script src="{{ asset('js/dateFilterConfig.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            //set date range picker to current year
            var year = (new Date).getFullYear();
            $("#dateRange").daterangepicker("setRange", {
                start: new Date(year, 0, 1),
                end: new Date()
            });

            updateTotaux();

            var url = Routing.generate('compta_depense_liste_retard_ajax');
            var tableau =$('#table_depense_list').DataTable({
                "dom": '<"dataTables_dateRange">T<"clear">lfrtip',
                "oTableTools": {
                    "sSwfPath": "/web/lib/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
                    "aButtons": [
                        {
                            "sExtends": "csv",
                            "sButtonText": "Excel",
                            "mColumns": [
                                0, 1, 2, 3
                            ],
                            "sFileName": "depenses.csv"
                        }, {
                            "sExtends": "pdf",
                            "sButtonText": "PDF",
                            "mColumns": [
                                0, 1, 2, 3
                            ],
                            "sFileName": "depenses.pdf",
                            "sTitle": "Dépenses"
                        }
                    ]
                },
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.7/i18n/French.json"
                },
                "iDisplayLength": 100,
                "order": [
                    [2, "asc"]
                ],
                "responsive": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    url: url,
                    type: "post",
                    data: function(d) {
                        d.dateRange = $("#dateRange").daterangepicker("getRange");
                    }
                },
                "columns": [
                    {
                        "data": "num"
                    }, {
                        "data": "dateCreation"
                    }, {
                        "data": "dateConditionReglement"
                    }, {
                        "data": "compte_nom"
                    }, {
                        "data": "libelle"
                    }, {
                        "data": "totaux"
                    }
                ],
                "columnDefs": [
                    {
                        "visible": false,
                        "targets": ['id']
                    }, {
                        "render": function(data, type, row) {
                            var actionUrl = Routing.generate('compta_depense_voir', {'id': row['id']});
                            return '<a href="' + actionUrl + '">' + data + '</a>';
                        },
                        "targets": 0
                    }, {
                        "render": function(data, type, row) {
                          return moment(data.date).format('DD/MM/YYYY');
                        },
                        "targets": 1
                    }, {
                        "render": function(data, type, row) {
                            var end = moment(data.date);
  													var now = moment();
  													var d = now.diff(end, 'd'); // 88
  													var diff = moment.localeData().relativeTime(d, false, d == 1 ? 'd' : 'dd');
                            return "<span class='red'>" + diff + "</span>";
                        },
                        "targets": 2
                    }, {
                        "render": function(data, type, row) {
                          var url = Routing.generate('compta_contact_voir', {
                              'id': row['compte_id'],
                              'type': 'FOURNISSEUR'
                          });
                          return '<a href="' + url + '">' + data + '</a>';
                        },
                        "targets": 3
                    }, {
                        "render": function(data, type, row) {
                            return data.HT + " € HT<br /><i>" + data.TTC + " € TTC </i>";
                        },
                        "targets": 5
                    },
                ],
                fnDrawCallback: function () {
                  $( 'a', this.fnGetNodes() ).tooltip( {
                  "delay": 0,
                  "track": true,
                  "fade": 250,
                  "tooltipClass": 'btn',
                  } );
                },
                fnInitComplete: function () {
                  $( 'a', this.fnGetNodes() ).tooltip( {
                  "delay": 0,
                  "track": true,
                  "fade": 250,
                  "tooltipClass": 'btn',
                  } );
                $("#NodesToMove").detach().removeClass("hidden").appendTo('div.dataTables_dateRange');
                $('#dateRange').change(function() {
                      $('#table_depense_list tbody').find('tr').remove();
                      tableau.draw();
                      updateTotaux();
                });
            },
            });

            function updateTotaux() {
                $.ajax({
                    url: Routing.generate('compta_depense_retard_total_ajax'),
                    type: 'POST',
                    data: {
                        dateRange: $("#dateRange").daterangepicker("getRange")
                    }
                }).done(function(data) {
                    $('#wrapper-totaux').html(data);
                });

            }

        });
    </script>
{% endblock %}
