{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row">
	<div class="col-md-6">
		{{ form_row(form.nom) }}
		{{ form_row(form.secteurActivite) }}
		{{ form_row(form.priveOrPublic) }}
	</div>
	<div class="col-md-6">
		{{ form_row(form.compteParent) }}
		{{ form_row(form.userGestion) }}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<hr />
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		{{ form_row(form.addressPicker) }}
	</div>
	<div class="col-md-6">
		{{ form_row(form.adresseFacturationDifferente) }}
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		{{ form_row(form.adresse) }}
		{{ form_row(form.codePostal) }}
		{{ form_row(form.ville) }}
		{{ form_row(form.region) }}
		{{ form_row(form.pays) }}
		{{ form_row(form.updateContacts) }}
    </div>
    <div class="col-md-6">
    	<div class="hidden" id="wrapper-adresse-facturation">
	    	{{ form_row(form.nomFacturation) }}
	    	{{ form_row(form.adresseFacturation) }}
	    	{{ form_row(form.adresseFacturationLigne2) }}
	    	{{ form_row(form.codePostalFacturation) }}
	    	{{ form_row(form.villeFacturation) }}
	    	{{ form_row(form.paysFacturation) }}
	    </div> 
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		{{ form_row(form.telephone) }}
    	{{ form_row(form.fax) }}
    	{{ form_row(form.url) }}
		<hr />
	</div>
</div>
<div class="row">   
    <div class="col-md-12">
   	 	{{ form_row(form.description) }}
	   	 	<input type="submit" value="Enregistrer" class="btn btn-success" />
	    </div>
    </div>
</div>
{{ form_end(form) }}
{% block additionalJS %}
	
	<script type="text/javascript">
		$(document).ready( function () {   

			toggleAdresseFacturation(); 

			var addresspickerMap = $( "#{{ form.addressPicker.vars.id }}" ).addresspicker({
			updateCallback: function(geocodeResult, parsedGeocodeResult){
								//console.log(parsedGeocodeResult);
								//$('#callback_result').html(JSON.stringify(parsedGeocodeResult, null, 4));
								var addressToField = ( parsedGeocodeResult.street_number ? parsedGeocodeResult.street_number + ', ' : '' ) + parsedGeocodeResult.route;
								$('#{{ form.adresse.vars.id }}').val(addressToField);
								//$('#callback_result').html(parsedGeocodeResult.street_number + ', ' +parsedGeocodeResult.route);
							},
			  elements: {
				//map								: '',
				postal_code						: '#{{ form.codePostal.vars.id }}',
				administrative_area_level_1		: '#{{ form.region.vars.id }}',
			   // locality						: '#locality',
				country							: '#{{ form.pays.vars.id }}',
				//route							: '#sdz_blogbundle_service_adresse',
				locality						: '#{{ form.ville.vars.id }}',
				target_field					: false,
			  },
			});

			$('.checkbox-adresse-facturation').change(function(e){
				toggleAdresseFacturation();
			});

			function toggleAdresseFacturation(){
				if($('.checkbox-adresse-facturation').prop('checked')){
					$('#wrapper-adresse-facturation').removeClass("hidden");
				} else {
					$('#wrapper-adresse-facturation').addClass("hidden");
				}
			}

		});
		JqueryValidateFormName = $('form[name="{{ form.vars.id }}"]');
		
	</script>
	
	<script src="{{ asset('js/error.js') }}"></script>

{% endblock %}
