{% extends 'social/social_layout.html.twig' %}

{% block content %}

<div class="row" style="margin-top: 20px;">

	<div class="col-md-12">
		<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">Liste de courses</h3>
		  	</div>
		  	<div class="panel-body tableau-courses">
		    	{% for course in arr_courses %}
		    		<div>
			    		<input type="checkbox" id="{{ course.id }}" name="course" />
			    		<img src="{{ asset('/web/upload/avatar/'~course.user.id~'/'~course.user.avatar) }} " alt="{{ course.user.firstname }}" title="{{ course.user.firstname }}" />
			    		{{ course.nom }} ({{ course.quantite }})
			    		<hr />
			    	</div>
		    	{% endfor %}
		  	</div>
		  	<div class="panel-footer">
		  		<div class="progress hidden">
				  	<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
				</div>
				<div>
			  		<a class="btn btn-info btn-block-mobile" 
			  			href="{{ path('compta_course_ajouter') }}"
			  			data-target="#modal" 
			    		data-toggle="modal">
			    		J'ai besoin de quelque chose
			    	</a>
			    	<a class="btn btn-primary btn-block-mobile"
			    		id="btn-acheter" 
			  			href="#">
			    		J'ai acheté les trucs cochés
			    	</a>
				</div>
		  	</div>
		</div>
	</div>
</div>
<div class="row">

	<div class="col-md-6">
		<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">
		    		Merci internes : 
		    		{% if tableauMerci %}
		    			{{ tableauMerci.numMerciInterne }} / {{ tableauMerci.objectifInterne }}

		    			{% if tableauMerci.numMerciInterne >= tableauMerci.objectifInterne %}
		    				<img src="{{ asset('images/assets/icon_champagne.svg')}}" alt="Celebrate !" class="icon"/>
		    			{% endif %}
		    		{% else %}
		    			pas d'objectif 
		    			<a  class="btn btn-xs btn-info" 
		    				href="{{ path('compta_merci_choisir_objectifs') }}" 
		    				data-target="#modal" 
		    				data-toggle="modal">
		    					Fixer les objectifs
		    			</a>
		    		{% endif %}
		    	</h3>
		  	</div>
		  	<div class="panel-body tableau-merci">
		    	{% for merci in tableauMerci.merciInternes %}
		    		<div class="merci">
			    		Le {{ merci.date|date('d/m/Y') }} 
			    		<img src="{{ asset('/web/upload/avatar/'~merci.fromUser.id~'/'~merci.fromUser.avatar) }} " alt="{{ merci.fromUser.firstname }}" title="{{ merci.fromUser.firstname }}" />
			    		a remercié 
			    		<img src="{{ asset('/web/upload/avatar/'~merci.to.id~'/'~merci.to.avatar) }} " alt="{{ merci.to.firstname }}" title="{{ merci.to.firstname }}" />
			    		pour {{ merci.text }}
			    	</div>
			    	<hr />
		    	{% endfor %}
		  	</div>
		  	<div class="panel-footer">
		  		<a class="btn btn-info btn-block-mobile" 
		  			href="{{ path('compta_merci_ajouter', {'type' : 'interne'} ) }}"
		  			data-target="#modal" 
		    		data-toggle="modal">
		    		Dire merci
		    	</a>
		  	</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">
		    		Merci externes : 
		    		{% if tableauMerci %}
		    			{{ tableauMerci.numMerciExterne }} / {{ tableauMerci.objectifExterne }}
		    		{% else %}
		    			pas d'objectif <a class="btn btn-xs btn-info">Fixer les objectifs</a>
		    		{% endif %}

		    		{% if tableauMerci.numMerciExterne >= tableauMerci.objectifExterne %}
		    			<img src="{{ asset('images/assets/icon_champagne.svg')}}" alt="Celebrate !" class="icon"/>
		    		{% endif %}

		    	</h3>
		  	</div>
		  	<div class="panel-body tableau-merci">
		    	{% for merci in tableauMerci.merciExternes %}
		    		<div class="merci">
			    		Le {{ merci.date|date('d/m/Y') }} 
			    		<img src="{{ asset('/web/upload/avatar/'~merci.to.id~'/'~merci.to.avatar) }} " alt="{{ merci.to.firstname }}" title="{{ merci.to.firstname }}" />
			    		a été remercié par
			    		{{ merci.fromText }}
			    		pour {{ merci.text }}
			    	</div>
			    	<hr />
		    	{% endfor %}
		  	</div>
		  	<div class="panel-footer">
		  		<a class="btn btn-info btn-block-mobile" 
		  			href="{{ path('compta_merci_ajouter', {'type' : 'externe'} ) }}"
		  			data-target="#modal" 
		    		data-toggle="modal">
		    		On m'a dit merci
		    	</a>
		  	</div>
		</div>

	</div>
</div>



{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready( function () {

			$('#btn-acheter').click(function(){

				$('.progress').removeClass('hidden');

				var arr_courses =  [];
				$('input[name="course"]').each(function () {
					if(this.checked){
						arr_courses.push($(this).attr('id'));
					}
				});

				$.ajax({
					type: "POST",
					url: Routing.generate('compta_course_supprimer'),
					data: { 'arr_courses':  arr_courses },
					success: function(data) {
						$('input[name="course"]').each(function () {
							if(this.checked){
								$(this).parent('div').hide();
							}
						});
						$('.progress').addClass('hidden');
					},
					error: function(jqXHR, textStatus, errorThrown) {
						$('.progress').addClass('hidden');
					},

				});
			});
		});
	</script>
{% endblock %}