{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/homepage20190301-1739.css') }}" type="text/css" />
{% endblock %}


{% block body %}
<div class="row center visible-xs" id="login-logo-wrapper" >
	<div class="col-md-12">
        <img src="{{ asset('images/assets/jaimegerer-logo-250.png') }}" alt="logo" title="J'aime Gérer" />
        <hr />
    </div>
</div>
<div class="wrap-index">
	<div class="row">
		<div class="col-md-12 center">
			<div class="wrap-index-head">
				<h1>{{ random(['Hello', 'Coucou', 'Hola', 'Bienvenue', 'My dear', 'Hooo, mais c\'est', 'Hey', 'Bonjour', 'Hey', 'Ho,', 'Yo']) }} {{ app.user.firstname }} !</h1>
				<p class="l">{{ random(['C\'est toi qui gère !', 'Te revoilà !', 'Je t\'ai manqué ?', 'A nous deux !', 'Go get \'em!', 'Quoi de neuf ?', 'On fait quoi aujourd\'hui ?', 'Welcome back !']) }}</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 center">
		    <ul class="main_menu">
		    	<li id="commercial" class="active">
		    		<a href="{{ path('crm_index') }}">
		    			<img src="{{ asset('images/assets/commercial.png') }}" alt="CRM" />
		    			J'aime le commercial
		    		</a>
		    	</li>
		    	<li id="emailing" class="active">
	 	    		<a href="{{ path('emailing_index') }}">
						<img src="{{ asset('images/assets/communication.png') }}" alt="Emailing" />
						J'aime communiquer
	 	    		</a>
		    	</li>
		    	<li id="compta" class="active">
		    		<a href="{{ path('compta_index') }}">
		    			<img src="{{ asset('images/assets/comptabilite.png') }}" alt="Comptabilité" />
		    			J'aime la compta
		    		</a>
		    	</li>
		    	<li class="inactive">
		    		<img src="{{ asset('images/assets/recrutement.png') }}" alt="Recrutement" />
		    		J'aime le recrutement
		    	</li>
		    	<li id="ndf" class="active">
		    		<a href="{{ path('ndf_recus_liste') }}">
			    		<img src="{{ asset('images/assets/ndf.png') }}" alt="Notes de frais" />
			    		J'aime les notes de frais
			    	</a>
		    	</li>
		    	{% if app.user.company.isNicomak %}
			    	<li id="social" class="active">
			    		<a href="{{ path('social_index') }}">
				    		<img src="{{ asset('images/assets/jaimenicomak-colors.png') }}" alt="J'aime Nicomak" />
				    		J'aime {{ app.user.company }}
				    	</a>
			    	</li>
		    	{% endif %}
		   </ul>
	   </div>
	</div>
</div>
{% endblock %}
