{% extends 'crm/crm_layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1>Créer une facture</h1>
        </div>
    </div>

	<div class="alert alert-info">
		<strong>Oups !</strong> Nous n'avons pas réussi à créer automatiquement un numéro pour le compte comptable client.<br />
			Veuillez entrer un numéro pour le compte {{ facture.compte.nom }}.
	</div>

 	{{ form_start(form, {'action': path('crm_facture_creer_compte_comptable', {'id' : facture.id }), 'attr': {'class': 'form-sous-compte'}} ) }}

	{{ form_errors(form) }}

	<div class="form-group">
	   	{{ form_label(form.num) }}<br />
	   	 <div class="input-group">
	    	{{ form_errors(form.num) }}
	    	<div class="input-group-addon">411</div>{{ form_widget(form.num, { 'attr': {'class': 'num', 'maxlength' : 5}}) }}
	    </div>
	</div>

	<div class="form-group">
	   	{{ form_label(form.nom) }}<br />
	    {{ form_errors(form.nom) }}
	    {{ form_widget(form.nom) }}
	</div>

	<div id="error" class="alert alert-danger hidden">
		Ce compte existe déjà.
	</div>

	<a class="btn" href="#" data-dismiss="modal">
       	<span class="glyphicon glyphicon-chevron-left"></span>Annuler
    </a>
	<input type="submit" value="Enregistrer" class="btn btn-success" id="submit" />
 	<p class="center"><img src="{{ asset('images/assets/cat_loader.gif') }}" alt="Chargement" class="hidden" id="loader"/></p>
	{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

	<script type="text/javascript">
		$(document).ready( function () {

			/**
			*	Limiter le nombre de caractères à 8
			**/
			$('.num').keyup(function(e){
				checkNum($(this).val());
			});

		});

		function checkNum(nom){

				var num = '411'+nom.toUpperCase();
				var found = false;
				{% for existingNum in arr_existings_nums %}
					var existingNum = "{{ existingNum }}";
					if(existingNum == num){
						found = true;
					}
				{% endfor %}
				if(found == true){
					$('#error').removeClass('hidden');
					$('#submit').attr('disabled', true);
				} else {
					$('#error').addClass('hidden');
					$('#submit').attr('disabled', false);
				}
			}
	</script>
{% endblock %}