{% extends 'emailing/emailing_layout.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h1>Campagne emailing : {{ campagne.nom }}</h1>	
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">

		 	<div class="alert alert-info alert-dismissible" role="alert">
	            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                <span aria-hidden="true">&times;</span>
	            </button>
	            <p>
	              	<span class="glyphicon glyphicon-info-sign"></span>
	              	Utilisez la fonctionnalité "Rapports" de <span class="jaimelecommercial">J'aime le commercial</span> pour créer vos listes de destinataires.
	            </p>
	            <p>
	            	<strong>Oups, mon rapport n'existe pas encore...</strong><br />
	            	<a href="{{ path('crm_rapport_ajouter', {'type' : 'contact' }) }}" target="_blank" class="btn btn-primary btn-xs">
	            		<span class="glyphicon glyphicon-plus"></span> Créer un nouveau rapport
	            	</a><br />
	            	Pensez à actualiser cette page une fois que vous avez créé le rapport.
	            </p>
	        </div>
	    </div>
	</div>

	{{ form_start(form) }}


	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			{{ form_label(form.rapport, null, {'label_attr' : {'class' : 'xl'} }) }}  
		</div>
		<div class="col-md-6 col-md-offset-3">
			{{ form_errors(form.rapport) }}
			{{ form_widget(form.rapport) }}
			
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="progress hidden">
		  		<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
		  		</div>
			</div>

			<p id="destinataires" class="well hidden">
				Ce rapport contient <span id="nb-destinataires"></span> destinataires. <a href="#" id="refresh">Actualiser la liste des destinataires</a>
				<br />
				<a href="#" id="link-rapport" target="_blank">Voir le rapport</a>
			</p>
		</div>
	</div>

	
	<div class="row">
		<div class="col-md-12 center">
			{{ form_row(form.submit) }}
		</div>
	</div>
	
	{{ form_end(form) }}

	

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready( function () {   

			$('.rapport-select').change(function(e){
				compteDestinataires();
			});

			$('#refresh').click(function(e){
				compteDestinataires();
			});

			function compteDestinataires(){
				$('#destinataires').addClass('hidden');
				$('#nb-destinataires').html('');
				$('.progress').removeClass('hidden');
				$('.submit').attr('disabled', true);
				$('#link-rapport').attr('href', '#');

				var rapportId = $('.rapport-select').val();
				$.ajax({
			    	type: "POST",
			        url: Routing.generate('crm_rapport_get_contacts_for_emailing', {'id' : rapportId }),
			        success: function(data)
			        {
			        	$('#nb-destinataires').html(data.length);
			        	$('#destinataires').removeClass('hidden');
			        	$('.progress').addClass('hidden');
			        	$('#link-rapport').attr('href', Routing.generate('crm_rapport_voir', {'id' : rapportId} ));

			        	$('.submit').attr('disabled', false);
			        }
		        });
			}

				
		});
	</script>
{% endblock %}