{% extends 'emailing/emailing_layout.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h1>
				Campagne emailing : {{ campagne.nom }}
			</h1>	
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">

		 	<div class="alert alert-info alert-dismissible" role="alert">
	            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                <span aria-hidden="true">&times;</span>
	            </button>
	            <p>
	              	<span class="glyphicon glyphicon-info-sign"></span>
	              	Vous pouvez créer votre template HTML sur 
	              	<a class="alert-link" href="https://topol.io/" target="_blank">Topol</a>.
	              	{% if app.user.company.isNicomak %}
	              		<ul>
	              			<li>Login : {{ topol_login }}</li>
	              			<li>Mot de passe : {{ topol_password }}</li>
	              		</ul>
	              	{% endif %}
	              	<br />
	              	Exportez en choisissant l'option "Download with hosted images"
	            </p>
	        </div>
	    </div>
	</div>

	{{ form_start(form) }}

	<div class="row">
		<div class="col-md-6 col-md-offset-3">  
			{{ form_label(form.file, null, {'label_attr' : {'class' : 'xl'} }) }}  
		</div>
		<div class="col-md-6 col-md-offset-3">
			{{ form_errors(form.file) }}
			{{ form_widget(form.file) }}
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 center">
			{{ form_row(form.preview) }}
		</div>
		<div class="col-md-6 center">
			{{ form_row(form.submit) }}
		</div>
	</div>

	{{ form_end(form) }}

	<div class="modal" id="modal-preview">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            	<div class="modal-header">
					<a class="close" data-dismiss="modal">×</a>
				</div>
            	<div class="modal-body">
	            	<div id="emailing-preview"></div>
	            </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready( function () {    

			/**
			*	 Display a preview of the HTML email in the modal #modal-preview
			**/
			$('.preview').click(function(e){
				e.preventDefault();

		  		var fileToLoad = $('.file-input')[0]['files'][0];

		  		var fileReader = new FileReader();
		  		fileReader.onload = function(fileLoadedEvent){
		      		var textFromFileLoaded = fileLoadedEvent.target.result;
		      		$('#emailing-preview').html(textFromFileLoaded);
		      		$('#modal-preview').modal('show');
		  		};

		  		fileReader.readAsText(fileToLoad, "UTF-8");
			});

		});
	</script>
{% endblock %}