{{ form_start(form) }}
<div class="row">
	<div class="col-md-12">
		{{ form_errors(form) }}
		{{ form_row(form.nom) }}
		{{ form_row(form.objet) }}
		{{ form_row(form.nomExpediteur) }}
		{{ form_row(form.emailExpediteur) }}

		<div class="center">
			<input type="submit" value="Suite" class="btn btn-success" />
		</div>
	</div>
</div>
{{ form_end(form) }}