{% extends 'emailing/emailing_layout.html.twig' %}

{% block content %}
	
	<div class="row">
	    <div class="col-md-12">
    		<h1>Campagne emailing : {{ campagne.nom }} 
	    	    {% if campagne.isSent %}
	    			<span class="label label-success">Envoyée</span>
	    		{% elseif campagne.isScheduled %}
	    			<span class="label label-info">Planifiée</span>
                {% elseif campagne.isDelivering %}
                    <span class="label label-warning">En cours d'envoi</span>
	    		{% elseif campagne.isDraft %}
	    			<span class="label label-default">Brouillon</span>
                {% elseif campagne.isError %}
                    <span class="label label-danger">Erreur lors de l\'envoi</span>
	    		{% endif %}
			</h1>
	    </div>
    </div>

    <div class="row">
		<div class="col-md-12">
			  	{#   {% if campagne.envoyee == 0 %}
			    	<a href="{{ path('emailing_campagne_editer', {'id' : campagne.id }) }}"  class="btn btn-warning">
			    		<span class="glyphicon glyphicon-pencil"></span> Modifier
			    	</a>
			    {% endif %} #}
			    <a href="#"  class="btn btn-info" data-toggle="modal" data-target="#modal-preview">
		    		<span class="glyphicon glyphicon-eye-open"></span> Voir l'email
		    	</a>
		    	<a href="{{ path('emailing_campagne_supprimer', {'id' : campagne.id }) }}"  class="btn btn-danger">
		    		<span class="glyphicon glyphicon-trash"></span> Supprimer
		    	</a>
		</div>
	</div>

     <div class="row spacer-top">
    	<div class="col-md-6">
     		<table class="contact-view-table">
     			<tbody>
     				<tr>
     					<td>Date d'envoi</td>  
			    		<td>
			    			{{ campagne.dateEnvoi is empty ? '-' : campagne.dateEnvoi|date('d/m/Y') }}
			    		</td> 
     				</tr>
     				<tr>
     					<td>Objet</td>  
	    				<td>
							{{ campagne.objet is empty ? '-' : campagne.objet }}
						</td>
     				
     				</tr>
     			</tbody>
	    	</table>
	    </div>
	    <div class="col-md-6">
	    	<table class="contact-view-table">
	    		<tbody>
     				<tr>
     					<td>Nom de l'expéditeur</td>  
	    				<td>
							{{ campagne.nomExpediteur is empty ? '-' : campagne.nomExpediteur }}
						</td>
     				
     				</tr>
     				<tr>
     					<td>Email de l'expéditeur</td>  
	    				<td>
							{{ campagne.emailExpediteur is empty ? '-' : campagne.emailExpediteur }}
						</td>
     				
     				</tr>
		    	</tbody>
    		</table>
    	</div>
    </div>

    <div class="row">
    	<div class="col-md-12">
    		<hr />
    	</div>
    </div>
 
    <div class="row">
    	<div class="col-md-6">
     		<table class="contact-view-table">
     			<tbody>
     				<tr>
     					<td>Créée le</td>  
			    		<td>
			    			{{ campagne.dateCreation|date("d/m/Y") }}
			    		</td> 
     				</tr>
     				<tr>
     					<td>Par</td>  
	    				<td>
							{{ campagne.userCreation }}
						</td>
     				
     				</tr>
     			</tbody>
	    	</table>
	    </div>
	    <div class="col-md-6">
	    	<table class="contact-view-table">
	    		<tbody>
     				<tr>
			    		<td>Modifiée le</td>  
			    		<td id="contact-date-edition">
			    			{% if campagne.dateEdition is empty %}
					    		Jamais
					    	{% else %}
								{{ campagne.dateEdition|date("d/m/Y") }}	
					    	{% endif %}
			    		</td> 
		    		</tr>
		    		<tr>
	    			{% if campagne.userEdition is not empty %}
			    		<td>Par</td>  
	    				<td id="contact-user-edition">
							{{ campagne.userEdition }}
						</td>
			    	{% endif %}
		    		</tr>
		    	</tbody>
    		</table>
    	</div>
    </div>

    {% if campagne.nomRapport %}
	    <div class="row">
	    	<div class="col-md-12">
	    		<hr />
	    		<h3>Destinataires <br />
	    			<small>{{ campagne.nbDestinataires }} contacts de la liste "{{ campagne.nomRapport }}"</small>
	    		</h3>
	    	</div>
	    </div>
	{% endif %}

	<div class="row">
    	<div class="col-md-3 well center">
    		<span class="jaimelemailing xl">Taux d'ouverture</span><br />
    		<span class="xxl">{{ campagne.openRate|number_format(1, ',') }} %</span>
    	</div>

    	<div class="col-md-3 well center">
    		<span class="jaimelemailing xl">Taux de clic</span><br />
    		<span class="xxl">{{ campagne.clickRate|number_format(1, ',') }} %</span>
    	</div>

    	<div class="col-md-3 well center">
    		<span class="jaimelemailing xl">Taux de bounce</span><br />
    		<span class="xxl">{{ campagne.bounceRate|number_format(1, ',') }} %</span>
    	</div>

        <div class="col-md-3 well center">
            <span class="jaimelemailing xl">Taux de désinscription</span><br />
            <span class="xxl">{{ campagne.unsubscribeRate|number_format(1, ',') }} %</span>
        </div>
    </div>

    <div class="row">
    	<div class="col-md-12">
    		<table id="table_contact_list" class="table table-bordered table-striped">   
    			<thead>
    				<tr>
    					<th>Nom</th>
    					<th>Organisation</th>
    					<th>Titre</th>
    					<th>Email</th>
    					<th>Ouvert</th>
    					<th>Clic</th>
    					<th>Bounce</th>
    					<th>Désinscription</th>
    				</tr>
    			</thead>
    		</table>
    	</div>
    </div>

	<div class="modal" id="modal-preview">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            	<div class="modal-header">
					<a class="close" data-dismiss="modal">×</a>
				</div>
            	<div class="modal-body">
	            	<div id="emailing-preview">
	            		{{ campagne.html|raw }}
	            	</div>
	            </div>
            </div>
        </div>
    </div>
	  
{% endblock %}

{% block javascripts %}
	{{ parent() }}
		<script type="text/javascript">
			$(document).ready( function () {    
				
				var campagneId = "{{ campagne.id }}";
				$('#table_contact_list').DataTable({
                    "dom": 'T<"clear">lfrtip',
                    "oTableTools": {
                        "sSwfPath": "/web/lib/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
                        "aButtons": [
                            {
                                "sExtends": "csv",
                                "sButtonText": "Excel",
                                "mColumns": [ 0, 1, 2, 3 ],
                                "sFileName": "contacts.csv"
                            },
                            {
                                "sExtends": "pdf",
                                "sButtonText": "PDF",
                                "mColumns": [ 0, 1, 2, 3 ],
                                "sFileName": "campagnes.pdf",
                                "sTitle": "campagne"
                            },
                        ]
                    },
					"language" : {                
						"url": "//cdn.datatables.net/plug-ins/1.10.7/i18n/French.json"            
					},
                    "responsive": true,
                    "processing": true,
                    "serverSide": true,
                    "iDisplayLength": 25,
				    "ajax":{
		                url : Routing.generate('emailing_campagne_liste_contacts_ajax', { 'id' : campagneId }),
		                type: "post",
		            },
		            "columns": [
	                   { "data": "nom" },
	                   { "data": "organisation" },
	                   { "data": "titre" },
	                   { "data": "email" },
	                   { "data": "open" },
	                   { "data": "click" },
	                   { "data": "bounce" },
	                   { "data": "unsubscribe" }
	                ],
	                "columnDefs": [
                         {
                            "visible": false,
                            "targets": ['id']
                        },
	                	{
                           "render": function ( data, type, row ) {
                           	var url = Routing.generate('crm_contact_voir', {'id' : row['id']});
                           		return '<a href="'+url+'" target="_blank">'+row['prenom']+" "+row['nom']+'</a>';
                           },
                           "targets": 0
                        },
                        {
                           "render": function ( data, type, row ) {
                           		if(data === 1){
                           			return '<p class="center"><span class="glyphicon glyphicon-ok green"></span></p>';
                           		}
                           		return '';
                           },
                           "targets": 4
                        }, {
                           "render": function ( data, type, row ) {
                           		if(data === 1){
                           			return '<p class="center"><span class="glyphicon glyphicon-ok green"></span></p>';
                           		}
                           		return '';
                           },
                           "targets": 5
                        }, {
                           "render": function ( data, type, row ) {
                           		if(data === 1){
                           			return '<p class="center"><span class="glyphicon glyphicon-ok red"></span></p>';
                           		}
                           		return '';
                           },
                           "targets": 6
                        },  {
                           "render": function ( data, type, row ) {
                           		if(data === 1){
                           			return '<p class="center"><span class="glyphicon glyphicon-ok red"></span></p>';
                           		}
                           		return '';
                           },
                           "targets": 7
                        }
                   ]
			});
    	});

	</script>
{% endblock %}
