{% extends 'emailing/emailing_layout.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h1>
				Campagne emailing : {{ campagne.nom }} 
				{% if campagne.isSent %}
					<span class="label label-success">Envoyée</span>
				{% elseif campagne.isScheduled %}
					<span class="label label-info">Planifiée</span>
				{% elseif campagne.isDelivering %}
					<span class="label label-warning">En cours d'envoi</span>
				{% elseif campagne.isDraft %}
					<span class="label label-default">Brouillon</span>
				{% elseif campagne.isError %}
					<span class="label label-danger">Erreur lors de l\'envoi</span>
				{% endif %}
			</h1>	
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-3">
			<h3>Nom de la campagne</h3>  
		</div>
		<div class="col-md-2">
			<p>
				<a href="{{ path('emailing_campagne_editer_infos', {'id' : campagne.id }) }}" class="btn btn-warning">Modifier</a>

			</p>
		</div>
		<div class="col-md-6 col-md-offset-3">
			{{ campagne.nom }}
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-3">
			<h3>Nom de l'expéditeur</h3>  
		</div>
		<div class="col-md-2">
			<p>
				<a href="{{ path('emailing_campagne_editer_infos', {'id' : campagne.id }) }}" class="btn btn-warning">Modifier</a>
			</p>
		</div>
		<div class="col-md-6 col-md-offset-3">
			{{ campagne.nomExpediteur }}
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-3">
			<h3>Email de l'expéditeur</h3>  
		</div>
		<div class="col-md-2">
			<p>
				<a href="{{ path('emailing_campagne_editer_infos', {'id' : campagne.id }) }}" class="btn btn-warning">Modifier</a>

			</p>
		</div>
		<div class="col-md-6 col-md-offset-3">
			{{ campagne.emailExpediteur }}
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-3">
			<h3>Objet de l'email</h3>  
		</div>
		<div class="col-md-2">
			<p>
				<a href="{{ path('emailing_campagne_editer_infos', {'id' : campagne.id }) }}" class="btn btn-warning">Modifier</a>

			</p>
		</div>
		<div class="col-md-6 col-md-offset-3">
			{{ campagne.objet }}
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-3">
			<h3>Contenu de l'email</h3>  
		</div>
		<div class="col-md-2">
			<p>
				<a href="{{ path('emailing_campagne_contenu', {'id' : campagne.id }) }}" class="btn btn-warning">Modifier</a>

			</p>
		</div>
		<div class="col-md-6 col-md-offset-3">
			<a href="#" data-toggle="modal" data-target="#modal-preview">Aperçu</a>
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-3">
			<h3>Destinataires</h3>  
		</div>
		<div class="col-md-2">
			<p>
				<a href="{{ path('emailing_campagne_destinataires', {'id' : campagne.id }) }}" class="btn btn-warning">Modifier</a>

			</p>
		</div>
		<div class="col-md-6 col-md-offset-3">
			{{ campagne.nbDestinataires }} contacts  				
			{% if campagne.nomRapport != null %}
				de la liste {{ campagne.nomRapport }} 
			{% endif %}

			{% if campagne.nbDestinataires == 0 or campagne.html == null %} 
				<span class="red glyphicon glyphicon-warning-sign"></span>  
			{% endif %}
			<hr />
		</div>
	</div>

	<div class="row {{ campagne.isScheduled or campagne.isDelivering ? 'hidden' : '' }}">

		<div class="col-md-2 col-md-offset-3 center">
			<a href="{{ path('emailing_campagne_tester', {'id' : campagne.id }) }}" data-toggle="modal" data-target="#modal" class="btn btn-primary">Envoyer un email de test</a>
		</div>

		<div class="col-md-2 center">
			<a href="#" data-toggle="modal" data-target="#modal-validation-envoi" class="btn btn-success" 
				{% if campagne.nbDestinataires == 0 or campagne.html == null %} disabled {% endif %}>
				Envoyer maintenant
			</a>
		</div>

		<div class="col-md-2 center">
			<a href="{{ path('emailing_campagne_planifier', {'id' : campagne.id }) }}" data-toggle="modal" data-target="#modal" class="btn btn-info" >
				Planifier l'envoi
			</a>
		</div>
	</div>

	<div class="row {{ campagne.isScheduled or campagne.isDelivering ? '' : 'hidden' }}">
		<div class="col-md-12 well center">
			<p>Cette campagne emailing sera envoyée le {{ campagne.dateEnvoi|date('d/m/Y') }} à {{ campagne.dateEnvoi|date('H:i') }}.</p>
			<p class="row">
				{% if campagne.isDelivering %}
					<i>La campagne ne peut plus être annulée car elle est en cours d'envoi.</i>
				{% elseif campagne.isScheduled %}
					<a href="{{ path('emailing_campagne_annuler_envoi', {'id' : campagne.id }) }}" class="btn btn-danger" >
						Annuler l'envoi
					</a>
				{% endif %}
			</p>
		</div>
	</div>

	<div class="modal" id="modal-preview">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            	<div class="modal-header">
					<a class="close" data-dismiss="modal">×</a>
				</div>
            	<div class="modal-body">
	            	<div id="emailing-preview">
	            		{{ campagne.html|raw }}
	            	</div>
	            </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-validation-envoi">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            	<div class="modal-header">
					<a class="close" data-dismiss="modal">×</a>
					<h3>Envoyer la campagne "{{ campagne.nom }}"</h3>
				</div>
            	<div class="modal-body center">
            		<h4 class="center">Alors ça y est, c'est parti ?</h4>
	            	<img src="{{ asset('images/assets/cat_heavy_breathing.gif') }}" alt="Exciting !" />
	           		<p class="center">
	           			<a class="btn btn-success" href="{{ path('emailing_campagne_envoyer', {'id' : campagne.id }) }}" id="btn-send">Envoyer !</a>
	           		</p>
	            </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready( function () {    
			$('#btn-send').click(function(){
				$(this).attr('disabled', true);
			});
		});
	</script>

{% endblock %}