{% extends 'emailing/emailing_layout.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			  	{#   {% if campagne.envoyee == 0 %}
			    	<a href="{{ path('emailing_campagne_editer', {'id' : campagne.id }) }}"  class="btn btn-warning">
			    		<span class="glyphicon glyphicon-pencil"></span> Modifier
			    	</a>
			    {% endif %} #}
		    	<a href="{{ path('emailing_campagne_supprimer', {'id' : campagne.id }) }}"  class="btn btn-danger">
		    		<span class="glyphicon glyphicon-trash"></span> Supprimer
		    	</a>
		</div>
	</div>

	<div class="row">
	    <div class="col-md-12">
    		<h1>Campagne : {{ campagne.nom }}
	    		{% if campagne.isSent %}
	    			<span class="label label-success">Envoyée</span>
	    		{% elseif campagne.isScheduled %}
	    			<span class="label label-info">Planifiée</span>
	    		{% elseif campagne.isDraft %}
	    			<span class="label label-default">Brouillon</span>
	    		{% endif %}
			</h1>
	    </div>
    </div>

     <div class="row">
    	<div class="col-md-6">
     		<table class="contact-view-table">
     			<tbody>
     				<tr>
     					<td>Date d'envoi</td>  
			    		<td>
			    			{{ campagne.dateEnvoi is empty ? '-' : campagne.dateEnvoi|date('d/m/Y') }}
			    		</td> 
     				</tr>
     				<tr>
     					<td>Objet</td>  
	    				<td>
							{{ campagne.objet is empty ? '-' : campagne.objet }}
						</td>
     				
     				</tr>
     			</tbody>
	    	</table>
	    </div>
	    <div class="col-md-6">
	    	<table class="contact-view-table">
	    		<tbody>
     				<tr>
     					<td>Nom de l'expéditeur</td>  
	    				<td>
							{{ campagne.nomExpediteur is empty ? '-' : campagne.nomExpediteur }}
						</td>
     				
     				</tr>
     				<tr>
     					<td>Email de l'expéditeur</td>  
	    				<td>
							{{ campagne.emailExpediteur is empty ? '-' : campagne.emailExpediteur }}
						</td>
     				
     				</tr>
		    	</tbody>
    		</table>
    	</div>
    </div>

    <div class="row">
    	<div class="col-md-12">
    		<hr />
    	</div>
    </div>
 
    <div class="row">
    	<div class="col-md-6">
     		<table class="contact-view-table">
     			<tbody>
     				<tr>
     					<td>Créée le</td>  
			    		<td>
			    			{{ campagne.dateCreation|date("d/m/Y") }}
			    		</td> 
     				</tr>
     				<tr>
     					<td>Par</td>  
	    				<td>
							{{ campagne.userCreation }}
						</td>
     				
     				</tr>
     			</tbody>
	    	</table>
	    </div>
	    <div class="col-md-6">
	    	<table class="contact-view-table">
	    		<tbody>
     				<tr>
			    		<td>Modifiée le</td>  
			    		<td id="contact-date-edition">
			    			{% if campagne.dateEdition is empty %}
					    		Jamais
					    	{% else %}
								{{ campagne.dateEdition|date("d/m/Y") }}	
					    	{% endif %}
			    		</td> 
		    		</tr>
		    		<tr>
	    			{% if campagne.userEdition is not empty %}
			    		<td>Par</td>  
	    				<td id="contact-user-edition">
							{{ campagne.userEdition }}
						</td>
			    	{% endif %}
		    		</tr>
		    	</tbody>
    		</table>
    	</div>
    </div>

    {% if campagne.nomRapport %}
	    <div class="row">
	    	<div class="col-md-12">
	    		<hr />
	    		<h2>Destinataires <br />
	    			<small>{{ campagne.nbDestinataires }} contacts de la liste "{{ campagne.nomRapport }}"</small>
	    		</h2>
	    	</div>
	    </div>
	{% endif %}

	<div class="row">
    	<div class="col-md-4 well center">
    		<span class="jaimelemailing xl">Taux d'ouverture</span><br />
    		<span class="xxl">{{ campagne.openRate }} %</span>
    	</div>

    	<div class="col-md-4 well center">
    		<span class="jaimelemailing xl">Taux de clic</span><br />
    		<span class="xxl">{{ campagne.clickRate }} %</span>
    	</div>

    	<div class="col-md-4 well center">
    		<span class="jaimelemailing xl">Taux de bounce</span><br />
    		<span class="xxl">{{ campagne.bounceRate }} %</span>
    	</div>
    </div>

    <div class="row">
    	<div class="col-md-12">
    		<table id="table_contact_list" class="table table-bordered table-striped">   
    			<thead>
    				<tr>
    					<th>Prénom</th>
    					<th>Nom</th>
    					<th>Organisation</th>
    					<th>Titre</th>
    					<th>Email</th>
    					<th>Ouvert</th>
    					<th>Clic</th>
    					<th>Bounce</th>
    				</tr>
    			</thead>
    		</table>
    	</div>
    </div>

	  
{% endblock %}

{% block javascripts %}
	{{ parent() }}
		<script type="text/javascript">
			$(document).ready( function () {    
				
				var campagneId = "{{ campagne.id }}";
				$('#table_contact_list').DataTable({
					"language" : {                
						"url": "//cdn.datatables.net/plug-ins/1.10.7/i18n/French.json"            
					},
					"responsive": true,
					"processing": true,
				    "serverSide": true,
				    "bFilter": false,
				    "bSort" : false,
				    "iDisplayLength": 25,
				    "ajax":{
		                url : Routing.generate('emailing_campagne_liste_contacts_ajax', { 'id' : campagneId }),
		                type: "post",
		            },
		            "columns": [
	                   { "data": "prenom" },
	                   { "data": "nom" },
	                   { "data": "organisation" },
	                   { "data": "titre" },
	                   { "data": "email" },
	                   { "data": "open" },
	                   { "data": "click" },
	                   { "data": "bounce" },
	                ],
	                "columnDefs": [
                       {
                           "render": function ( data, type, row ) {
                           		if(data === true){
                           			return '<span class="glyphicon glyphicon-ok green"></span>';
                           		}
                           		return '';
                           },
                           "targets": 5
                       }, {
                           "render": function ( data, type, row ) {
                           		if(data === true){
                           			return '<span class="glyphicon glyphicon-ok green"></span>';
                           		}
                           		return '';
                           },
                           "targets": 6
                       }, {
                           "render": function ( data, type, row ) {
                           		if(data === true){
                           			return '<span class="glyphicon glyphicon-remove red"></span>';
                           		}
                           		return '';
                           },
                           "targets": 7
                       },
                   ]
			});
    	});

	</script>
{% endblock %}
