{% extends 'compta/compta_layout.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>Banque : Relevés bancaires</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			{% include 'compta/journal_banque/compta_banque_submenu.html.twig' %}
		</div>
	</div>

	<div class="row spacer-top">
		{{ form_start(form) }}
		<div class="col-md-2">
		   {{ form_row(form.compte) }}
	    </div>
	    <div class="col-md-2">
		   {{ form_row(form.year) }}
	    </div>
	    <div class="col-md-2">
		   {{ form_row(form.month) }}
	    </div>
	    <div class="col-md-2 spacer-top">
		   {{ form_row(form.submit) }}
	    </div>
	    {{ form_rest(form) }}
	    {{ form_end(form) }}
    </div>


    <div class="row">
    	<table class="table table-transparent table-bordered table-striped">
    		<thead>
    			<tr>
    				<th class="col-md-2 center">Date</th>
    				<th class="col-md-6 align-left">Libellé</th>
    				<th class="col-md-2 align-right">Débit</th>
    				<th class="col-md-2 align-right">Crédit</th>
    			</tr>
    		</thead>
    		<tbody id="releve">
				
				<!-- loaded by ajax -->
			</tbody>
			<tfoot>
				<tr id="loader" class="hidden">
					<td colspan="4" class="center">
						<img src=" {{ asset('images/assets/dog_loader.gif') }}" alt="Chargement en cours..." />
					</td>
				</tr>
			</tfoot>
    	</table>
    </div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">

		$(function() {

			loadReleve();

			$('form').submit(function(e){
				e.preventDefault();
				loadReleve();
			});
			
		});

		function loadReleve(){
			$('#releve').html("");
			$('#loader').toggleClass("hidden");

			$.ajax({
	           type: "POST",
	           url: Routing.generate('compta_releve_bancaire_voir'),
	           data: $("form").serialize(), 
	           success: function(data)
	           {
	           		$('#loader').toggleClass("hidden");
	           		$('#releve').html(data);
	            }
	        });
		}

	</script>
{% endblock %}
