{{ form_start(form) }}
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			{{ form_row(form.date) }}
		</div>
	</div>	

	<div class="col-md-6">
		<div class="form-group">
			{% if recu.deplacementVoiture == false %}
				{{ form_row(form.fournisseur) }}	
			{% endif %}
		</div>
	</div>
</div>

<div class="row">

	<div class="col-md-6">
		<div class="typeahead-container">
		    <div class="typeahead-field">
		        <span class="typeahead-query">
		        	{{ form_row(form.projet_name) }}
		            {{ form_row(form.projet_entity) }}
		        </span>
		    </div>
		</div>
		
	</div>
	<div class="col-md-6">
		<strong>A refacturer au client</strong><br />
		{{ form_widget(form.refacturable) }}
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			{{ form_row(form.analytique) }}
		</div>
	</div>

	<div class="col-md-6">
		<div class="form-group">
			{{ form_row(form.compteComptable) }}
		</div>
	</div>
</div>

<hr />

{% if recu.deplacementVoiture == true %}
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				{{ form_row(form.trajet) }}
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				{{ form_label(form.distance) }}
				<div class="input-group">
					{{ form_widget(form.distance) }}<div class="input-group-addon">km</div>
				</div>
			</div>
		</div>	
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				{{ form_row(form.marqueVoiture) }}
			</div>
		</div>	

		<div class="col-md-6">
			<div class="form-group">
				{{ form_row(form.modeleVoiture) }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				{{ form_row(form.immatriculationVoiture) }}
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group">
				{{ form_row(form.puissanceVoiture) }}
			</div>
		</div>
	</div>
{% endif %}

<div class="row">
	<hr />
	<div class="col-md-3 col-md-offset-8">

		<div class="form-group">
			{{ form_label(form.montantHT) }}
			<div class="input-group">
				{{ form_widget(form.montantHT) }}<div class="input-group-addon">€</div>
			</div>
		</div>
		
		<div class="form-group">
			{{ form_label(form.tva) }}
			<div class="input-group">
				{{ form_widget(form.tva) }}<div class="input-group-addon">€</div>
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.montantTTC) }}
			<div class="input-group">
				{{ form_widget(form.montantTTC) }}<div class="input-group-addon">€</div>
			</div>
		</div>

	</div>

</div>	

<div class="row">
	<hr />
	<div class="form-group center">
		<div class="col-md-6">
			{{ form_row(form.save, {'attr' : {'class' : 'btn btn-info'}}) }}
		</div>

		{% if recu.id == null %}
			<div class="col-md-6">
				{{ form_row(form.next, {'attr' : {'class' : 'btn btn-success'}}) }}
			</div>
		{% endif %}
	</div>
		
</div>

{{ form_rest(form) }}
{{ form_end(form) }}

{% block javascripts %}
	<script type="text/javascript">

		$(document).ready( function () {

			$('.montant-ht').change(function(){
				updateMontants();
			});
			$('.montant-tva').change(function(){
				updateMontants();
			});
			$('.montant-ttc').change(function(){
				updateMontants();
			});

			function updateMontants(){
				var ht = $('.montant-ht').val();
				ht = ht.replace(",", ".");
				$('.montant-ht').val(ht);

				var tva = $('.montant-tva').val();
				tva = tva.replace(",", ".");
				$('.montant-tva').val(tva);

				var ttc = $('.montant-ttc').val();
				ttc = ttc.replace(",", ".");
				$('.montant-ttc').val(ttc);

				if(tva != 0){
					if(ht != 0){
						var ttc = +ht + +tva;
						$('.montant-ttc').val(ttc.toFixed(2));
					} else if (ttc != 0){
						var ht = +ttc - +tva;
						$('.montant-ht').val(ht.toFixed(2));
					}
					
				} else if(ttc !=0 && ht !=0){
					var tva = ttc-ht;
					$('.montant-tva').val(tva.toFixed(2));
				} 
			}

			$('.typeahead-projet').typeahead({
				order: "desc",
				accent: true,
				source: {
					url: Routing.generate('crm_bon_commande_search')
				},
				callback: {
					onClickAfter: function (node, a, item, event) {
						$('.entity-projet').val(item.id);
						if(true === item.refacturable){
							$('.toggle-refacturable').bootstrapToggle('enable');
						} else {
							$('.toggle-refacturable').bootstrapToggle('disable');
						}
						
					}
				},
			});



		});

	</script>
{% endblock %}
