{% extends 'crm/crm_layout.html.twig' %}

{% block content %}

	<div class="row" id="crm_index">

		<div class="col-md-12 text-accueil-outil">
			<div class="page-head">
				<h1>{{ random(['Le commercial, c\'est génial !']) }}</h1>
				<p class="l">Que voulez-vous faire aujourd'hui ?</p>
			</div>
		</div>
		
	</div>

	<div class="row">
		<div class="col-md-3 center">
			<h3 class="bold">ACTIONS RAPIDES</h3>
		
			<div class="center crm-homepage-block well">
				<p>
					<span class="glyphicon glyphicon-search xl"></span>
				</p>
				<p><strong>Je cherche les coordonnées de quelqu'un</strong></p>
				<input type="text" placeholder="Nom" id="contact-search-input" />
				<p class="spacer-top">
					<a class="btn btn-info" id="contact-search-button">
						Rechercher un contact
					</a>
				</p>
			</div>
		
			<div class="center crm-homepage-block well">
				<p>
					<span class="glyphicon glyphicon-user xl"></span>
				</p>
				<p><strong>J'ai rencontré une nouvelle personne</strong></p>
				<p>
					<a class="btn btn-info" href="{{ path('crm_contact_ajouter') }}">
						Ajouter un contact
					</a>
				</p>
			</div>
		
			<div class="center crm-homepage-block well">
				<p>
					<span class="glyphicon glyphicon-euro xl"></span>
				</p>
				<p><strong>J'ai fait un rendez-vous commercial</strong></p>
				<p>
					<a class="btn btn-info" href="{{ path('crm_action_commerciale_ajouter') }}">
						Créer une action commerciale
					</a>
				</p>
			</div>
		</div>

		<div class="col-md-9">
			<h3 class="bold center">TODO LIST</h3>

			{% for timespan, arr_todo in todoList %}
				
					<div class="center crm-homepage-block well">
						
						{% if 'today' == timespan %}
							<p>
								<span class="glyphicon glyphicon-bell xl"></span>
							</p>
							<p><strong>Aujourd'hui</strong></p>
						{% elseif 'week' == timespan %}
							<p>
								<span class="glyphicon glyphicon-calendar xl"></span>
							</p>
							<p><strong>Cette semaine</strong></p>
						{% elseif 'late' == timespan %}	
							<p>
								<span class="glyphicon glyphicon-warning-sign xl"></span>
							</p>
							<p><strong>En retard</strong></p>
						{% endif %}

						<div class="todo-list">

							{% for todo in arr_todo %}
								{% if 'FACTURER' == todo.type %}
									{{ include('crm/todo-list/crm_todo_item_facture.html.twig', {'todo' : todo.task, 'timespan' : timespan }) }}
								{% elseif 'CONTACTER' == todo.type %}
									{{ include('crm/todo-list/crm_todo_item_contact.html.twig', {'impulsion' : todo.task, 'timespan' : timespan  }) }}
								{% endif %}
							{% else %}
								<p class="todo-item center bold green" style="display: block;">
									Tout est à jour <span class="glyphicon glyphicon-thumbs-up"></span>
								</p>
							{% endfor %}

						</div>
					</div>
			{% endfor %}
		</div>
	</div>

	<div class="row hidden-xs">
		<div class="col-md-12 center">
			<hr />
			<h3 class="bold">SANTE DE LA CRM</h3>
		</div>
	</div>
	<div class="row hidden-xs">
		<div class="col-md-4 center">
			<div id="gauge_email"></div>
			{% if app.user.company.isNicomak %}
				<a href="{{ path('crm_rapport_voir', {'id' : 416 }) }}" class="btn btn-xs btn-info">Rapport</a>
			{% endif %}
		</div>
		<div class="col-md-4 center">
			<div id="gauge_tel"></div>
			{% if app.user.company.isNicomak %}
				<a href="{{ path('crm_rapport_voir', {'id' : 415 }) }}" class="btn btn-xs btn-info">Rapport</a>
			{% endif %}
		</div>
		<div class="col-md-4 center">
			<div id="gauge_bounce"></div>
			{% if app.user.company.isNicomak %}
				<a href="{{ path('crm_rapport_voir', {'id' : 414 }) }}" class="btn btn-xs btn-info">Rapport</a>
			{% endif %}
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('lib/justgage/justgage.1.0.1.min.js') }}"></script>
	<script src="{{ asset('lib/justgage/raphael.2.1.0.min.js') }}"></script>

	<script type="text/javascript">
		$(document).ready( function () {    

			$("#contact-search-button").click(function(){
				searchContact();
			});

			$("#contact-search-input").keypress(function(e) {
			    if(e.which == 13) {
			        searchContact();
			    }
			});

			function searchContact(){
				var searchedValue = $("#contact-search-input").val();
				var url = Routing.generate('crm_contact_liste_search', {'search' : searchedValue } );

				window.location= url;
			}


			{% if nbContacts > 0  %}
				var g1 = new JustGage({
				    id: "gauge_email",
				    value: {{ (nbNoEmail/nbContacts*100)|number_format(0) }},
				    min: 0,
				    max: 100,
				    title: "Contacts sans email",
				    levelColors: ["a9d60c", "f8c700", "ff0000"],
				    levelColorsGradient: false,
				    label: "%"
				});

				var g2 = new JustGage({
				    id: "gauge_tel",
				    value: {{ (nbNoTel/nbContacts*100)|number_format(0) }},
				    min: 0,
				    max: 100,
				    title: "Contacts sans numéro de téléphone",
				    levelColors: ["a9d60c", "f8c700", "ff0000"],
				    levelColorsGradient: false,
				    label: "%"
				});

				var g3 = new JustGage({
				    id: "gauge_bounce",
				    value: {{ (nbBounce/nbContacts*100)|number_format(0) }},
				    min: 0,
				    max: 100,
				    title: "Taux de bounces",
				    levelColors: ["a9d60c", "f8c700", "ff0000"],
				    levelColorsGradient: false,
				    label: "%"
				});
			{% endif %}

		});
	</script>


{% endblock %}