{% extends 'crm/crm_layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
                {% include 'crm/action-commerciale/crm_action_commerciale_submenu.html.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>Compétition commerciale</h1>
        </div>
    </div>

    <div class="row spacer-top">

        {% if competCom is null %}
            <div class="col-md-12 alert alert-info">
                <p> 
                    Il n'y a pas de compétition commerciale en cours. Et si tu en créais une, {{ app.user.firstname }} ?<br />
                    <a 
                        href="{{ path('crm_competition_commerciale_ajouter') }}" 
                        class="btn btn-info"
                        data-toggle="modal"
                        data-target="#modal">
                            Ouiiii !
                    </a>
                </p>
            </div>
        {% else %}
            <div class="col-md-3">

                <div class="panel panel-default">
                   
                    <div class="panel-heading">
                        <h3 class="panel-title">Nouveaux comptes privés</h3>
                    </div>

                    <div class="panel-body">
                        {% for arr_user in arr_users %}
                            <div id="nouveaux-comptes-{{ arr_user.user.id }}">
                                <img src="{{ asset('/upload/avatar/'~arr_user.user.id~'/'~arr_user.user.avatar) }} " alt="{{ arr_user.user.firstname }}" title="{{ arr_user.user.firstname }}" /> 
                                
                                {{ arr_user.nouveauxComptes|length }} nouveau{{ arr_user.nouveauxComptes|length > 1?'x':'' }} compte{{ arr_user.nouveauxComptes|length > 1?'s':'' }}

                                {% if arr_winners.nouveauxComptes == arr_user.user.id %}
                                    <img src="{{ asset('/images/assets/icon_cup.png') }} " alt="Coupe" title="WINNER !" /> 
                                {% endif %}
                                
                                {% if arr_user.nouveauxComptes|length > 0 %}
                                    <ul class="well ul-details-compet-com">
                                    {% for actionCommerciale in arr_user.nouveauxComptes %}
                                        <li>{{ actionCommerciale.compte.nom }} 
                                            <a class="btn btn-xs btn-info" href="{{ path('crm_action_commerciale_voir', {'id' : actionCommerciale.id }) }}" target="_blank">
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                            </a> 
                                            <a class="btn btn-xs btn-warning" href="{{ path('crm_competition_commerciale_modifier_user', {'id' : actionCommerciale.id }) }}" data-toggle="modal" data-target="#modal" title="Affecter à quelqu'un d'autre">
                                                <span class="glyphicon glyphicon-user"></span>
                                            </a>
                                        </li>
                                        {% if loop.last == false %}
                                            <hr />
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                                
                                <hr />
                            </div>
                        {% endfor %}
                    </div>

                </div> <!-- end panel -->

            </div> <!-- end col-md-3 -->

            <div class="col-md-3">

                <div class="panel panel-default">
                   
                    <div class="panel-heading">
                        <h3 class="panel-title">Chiffre d'affaire public</h3>
                    </div>

                    <div class="panel-body">
                        {% for arr_user in arr_users %}
                            <div id="ca-{{ arr_user.user.id }}">
                                <img src="{{ asset('/upload/avatar/'~arr_user.user.id~'/'~arr_user.user.avatar) }} " alt="{{ arr_user.user.firstname }}" title="{{ arr_user.user.firstname }}" /> 
                                
                                Total : {{ arr_user.CAPublic|number_format(2,',',' ') }} € 

                                {% if arr_winners.CAPublic == arr_user.user.id %}
                                    <img src="{{ asset('/images/assets/icon_cup.png') }} " alt="Coupe" title="WINNER !" /> 
                                {% endif %}
                                
                                {% if arr_user.gagneesPublic|length > 0 %}
                                    <ul class="well ul-details-compet-com">
                                    {% for actionCommerciale in arr_user.gagneesPublic %}
                                        <li>
                                            {{ actionCommerciale.compte.nom }} ({{ actionCommerciale.montant|number_format(2,',',' ') }} € )
                                            <a class="btn btn-xs btn-info" href="{{ path('crm_action_commerciale_voir', {'id' : actionCommerciale.id }) }}" target="_blank">
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                            </a>
                                            <a class="btn btn-xs btn-warning" href="{{ path('crm_competition_commerciale_modifier_user', {'id' : actionCommerciale.id }) }}" data-toggle="modal" data-target="#modal" title="Affecter à quelqu'un d'autre">
                                                <span class="glyphicon glyphicon-user"></span>
                                            </a>
                                        </li>
                                        {% if loop.last == false %}
                                            <hr />
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                                
                                <hr />
                            </div>
                        {% endfor %}
                    </div>

                </div> <!-- end panel -->

            </div> <!-- end col-md-3 -->

            <div class="col-md-3">

                <div class="panel panel-default">
                   
                    <div class="panel-heading">
                        <h3 class="panel-title">Chiffre d'affaire privé</h3>
                    </div>

                    <div class="panel-body">
                        {% for arr_user in arr_users %}
                            <div id="ca-prive-{{ arr_user.user.id }}">
                                <img src="{{ asset('/upload/avatar/'~arr_user.user.id~'/'~arr_user.user.avatar) }} " alt="{{ arr_user.user.firstname }}" title="{{ arr_user.user.firstname }}" /> 
                                
                                Total : {{ arr_user.CAPrive|number_format(2,',',' ') }} €

                                {% if arr_winners.CAPrive == arr_user.user.id %}
                                    <img src="{{ asset('/images/assets/icon_cup.png') }} " alt="Coupe" title="WINNER !" /> 
                                {% endif %}
                                
                                {% if arr_user.gagneesPrive|length > 0 %}
                                    <ul class="well ul-details-compet-com">
                                    {% for actionCommerciale in arr_user.gagneesPrive %}
                                        <li>
                                            {{ actionCommerciale.compte.nom }} ({{ actionCommerciale.montant|number_format(2,',',' ') }} € )
                                            <a class="btn btn-xs btn-info" href="{{ path('crm_action_commerciale_voir', {'id' : actionCommerciale.id }) }}" target="_blank">
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                            </a>
                                            <a class="btn btn-xs btn-warning" href="{{ path('crm_competition_commerciale_modifier_user', {'id' : actionCommerciale.id }) }}" data-toggle="modal" data-target="#modal" title="Affecter à quelqu'un d'autre">
                                                <span class="glyphicon glyphicon-user"></span>
                                            </a>
                                        </li>
                                        {% if loop.last == false %}
                                            <hr />
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                                
                                <hr />
                            </div>
                        {% endfor %}
                    </div>

                </div> <!-- end panel -->

            </div> <!-- end col-md-3 -->

            <div class="col-md-3">

                <div class="panel panel-default">
                   
                    <div class="panel-heading">
                        <h3 class="panel-title">Prescriptions</h3>
                    </div>

                    <div class="panel-body">
                        {% for arr_user in arr_users %}
                            <div id="prescriptions-{{ arr_user.user.id }}">
                                <img src="{{ asset('/upload/avatar/'~arr_user.user.id~'/'~arr_user.user.avatar) }} " alt="{{ arr_user.user.firstname }}" title="{{ arr_user.user.firstname }}" /> 
                                
                                Total : {{ arr_user.prescriptions|length }} affaire{{ arr_user.prescriptions|length > 1?'s':'' }} sur prescription 

                                {% if arr_winners.prescriptions == arr_user.user.id %}
                                    <img src="{{ asset('/images/assets/icon_cup.png') }} " alt="Coupe" title="WINNER !" /> 
                                {% endif %}
                                
                                {% if arr_user.prescriptions|length > 0 %}
                                    <ul class="well ul-details-compet-com">
                                    {% for actionCommerciale in arr_user.prescriptions %}
                                        <li>
                                            {{ actionCommerciale.compte.nom }}
                                            <a class="btn btn-xs btn-info" href="{{ path('crm_action_commerciale_voir', {'id' : actionCommerciale.id }) }}" target="_blank">
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                            </a>
                                            <a class="btn btn-xs btn-warning" href="{{ path('crm_competition_commerciale_modifier_user', {'id' : actionCommerciale.id }) }}" data-toggle="modal" data-target="#modal" title="Affecter à quelqu'un d'autre">
                                                <span class="glyphicon glyphicon-user"></span>
                                            </a>
                                        </li>
                                        {% if loop.last == false %}
                                            <hr />
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                                
                                <hr />
                            </div>
                        {% endfor %}
                    </div>

                </div> <!-- end panel -->

            </div> <!-- end col-md-4 -->
        {% endif %}
    </div> <!-- end row -->

{% endblock %}
