{% extends 'compta/compta_layout.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>Banque : Rapprochements avancés</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
				{% include 'compta/journal_banque/compta_banque_submenu.html.twig' %}
		</div>
	</div>

	<div class="row well">
		<div class="col-md-12 center">
			<h3>Filtres</h3>
		</div>
		<div class="col-md-3">
			<p><strong>Pièces</strong></p>
			<input type="checkbox" name="filtre_pieces" value="FACTURES" id="filtre-piece-factures" class="filtre" checked /> 
			<label for="filtre-piece-factures">Factures</label><br />

			<input type="checkbox" name="filtre_pieces" value="DEPENSES" id="filtre-piece-depenses" class="filtre" checked /> 
			<label for="filtre-piece-depenses">Dépenses</label><br />

			<input type="checkbox" name="filtre_pieces" value="NOTES-FRAIS" id="filtre-piece-notes-frais" class="filtre" checked /> 
			<label for="filtre-piece-notes-frais">Notes de frais</label><br />

	{# 		<input type="checkbox" name="filtre_pieces" value="REMISES-CHEQUES" id="filtre-piece-remises-cheques" class="filtre" checked /> 
			<label for="filtre-piece-remises-cheques">Remises de chèques</label><br /> #}

			<input type="checkbox" name="filtre_pieces" value="AVOIRS-CLIENT" id="filtre-piece-avoirs-client" class="filtre" checked /> 
			<label for="filtre-piece-avoirs-client">Avoirs clients</label><br />

			<input type="checkbox" name="filtre_pieces" value="AVOIRS-FOURNISSEUR" id="filtre-piece-avoirs-fournisseurs" class="filtre" checked /> 
			<label for="filtre-piece-avoirs-fournisseurs">Avoirs fournisseurs</label><br />

		{# 	<input type="checkbox" name="filtre_pieces" value="AFFECTATIONS-DIVERSES-VENTE" id="filtre-piece-affectations-diverses-vente" class="filtre" checked /> 
			<label for="filtre-piece-affectations-diverses-vente">Affecations diverses vente</label><br />

			<input type="checkbox" name="filtre_pieces" value="AFFECTATIONS-DIVERSES-ACHAT" id="filtre-piece-affectations-diverses-achat" class="filtre" checked /> 
			<label for="filtre-piece-affectations-diverses-achat">Affecations diverses achat</label><br /> #}

		</div>
		<div class="col-md-3">
			<p><strong>Montant des mouvements bancaires</strong></p>
			<input type="radio" name="filtre_montant_mouvements" value="ALL" id="filtre-montant-all" class="filtre" /> 
			<label for="filtre-montant-all">Tous</label><br />
			<input type="radio" name="filtre_montant_mouvements" value="POSITIF" id="filtre-montant-positif"  class="filtre" /> 
			<label for="filtre-montant-positif">Montants positifs uniquement</label><br />
			<input type="radio" name="filtre_montant_mouvements" value="NEGATIF" id="filtre-montant-negatif" class="filtre" /> 
			<label for="filtre-montant-negatif">Montants négatifs uniquement</label>
		</div>
		<div class="col-md-3">
			<p><strong>Date des mouvements bancaires</strong></p>
			<input id="dateRange" name="dateRange" class="filtre" />
		</div>
		<div class="col-md-3">
			<form onsubmit="return false;">
				<label for="search">Rechercher</label>
				<input id="search" type="text" class="form-control" placeholder="Libellé, date ou montant">
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 center">
			<p>
				Total pièces : <span id="total-pieces">0,00 €</span> <span class="green glyphicon glyphicon-ok hidden"></span> <br />
				Total mouvements bancaires : <span id="total-mouvements">0,00 €</span> <span class="green glyphicon glyphicon-ok hidden"></span><br />
			<span class="red hidden" id="error"></span>
			<p>
				<a class="btn btn-success" id="btn-rapprocher">Rapprocher les éléments sélectionnés</a>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 center">
			<div class="progress hidden">
			  	<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
			</div>
			<p class="alert alert-danger hidden" id="error"></p>
			<p class="alert alert-success hidden" id="success">Les éléments ont bien été rapprochés.</p>
		</div>
		<div class="col-md-4"></div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<h3 class="center">Pièces</h3>

			{% for type, arr_type in arr_pieces %}
				{% if arr_type|length > 0 %}
				  	<div class="panel panel-default" id="panel-{{ type }}">
				   	 	<div class="panel-heading" role="tab" id="heading-{{ type }}">
				      		<h4 class="panel-title">
				        		<a role="button" data-toggle="collapse" href="#{{ type }}" aria-expanded="true" aria-controls="{{ type }}">
									{% if type == "NOTES-FRAIS" %}
										Note de frais
									{% elseif type =="REMISES-CHEQUES" %}
										Remises de chèques
									{% elseif type == "AVOIRS-CLIENT" %}
										Avoirs clients
									{% elseif type == "AVOIRS-FOURNISSEUR" %}
										Avoirs fournisseurs
									{% else %}
										{{ type|capitalize  }}
									{% endif %}
				        		</a>
				      		</h4>
				    	</div>
				    	<div id="{{ type }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-{{ type }}">
				      		<div class="panel-body">
				      			<table class="table table-transparent">
				      				<tbody class="searchable">
							        {% for piece in arr_type %}
							        	{% set id = type~'_'~piece.id %}
							        	<tr id="row-{{ id }}">
							        		<td class="col-md-2">
												<input type="checkbox" name="pieces" id="{{ id }}" value="{% if piece.totalTTC is defined %} {{ piece.totalTTC }} {% endif %}" data-type="{{ type }}" />
											</td>
								        	{% 	if type == "AFFECTATIONS-DIVERSES-VENTE" or type =="AFFECTATIONS-DIVERSES-ACHAT" %}
								        		<td>
								        			<label for="{{ id }}">{{ piece.nom }}</label>
								        		</td>
								        		<td class='col-md-2 align-right'>
								        			<div class='input-group'>
								        				<input type='text' class='form-control montant' placeholder='Montant' aria-describedby='basic-addon2'>
								        				<span class='input-group-addon' id='basic-addon2'>€</span>
								        			</div>
								        		</td>
								        	{% else %}
				        						<td class="col-md-2 num">
				        							{% if type == 'NOTES-FRAIS' %}
				        								{{ piece.month }}/{{ piece.year }}
				        		        			{% else %}
				        								{% if piece.num is defined %} {{ piece.num }} {% endif %}
				        							{% endif %}
				        						</td>
				        						<td class="col-md-2 align-right montant"> 
				        							{% if type == 'AVOIRS-CLIENT' or type == "DEPENSES" or type == "NOTES-FRAIS"  %}
				        								<span class="red">{{ (0-piece.totalTTC)|number_format(2, ',', ' ') }} €</span>
				        							{% else %}
				        								<span class="green">{{ piece.totalTTC|number_format(2, ',', ' ') }} €</span>
				        							{% endif %}
				        						</td>
				        						<td class="col-md-6 libelle">
				        							<label for="{{ id }}">
				        							{% if type == 'AVOIRS-FOURNISSEUR' %}
				        								{{ piece.depense.compte }}
				        							{% elseif type == 'AVOIRS-CLIENT' %}
				        								{{ piece.facture.compte }}
				        							{% elseif type == 'NOTES-FRAIS' %}
				        								{{ piece.user }}
				        							{% else %}
				        								{% if piece.compte is defined %} {{ piece.compte }} {% endif %}
				        							{% endif %}
				        							</label>
				        						</td>
								        	{% endif %}
										</tr>
									{% endfor %}
									{% if type == "AFFECTATIONS-DIVERSES-VENTE" %}
										<tr id="row-nouvelle-affectation-diverse-vente">
											<td colspan="4">
												<a href="{{ path('compta_affectation_diverse_ajouter_modal', {'type' : 'VENTE'}) }}"  data-toggle="modal" data-target="#modal">Nouvelle affectation diverse</a>
											</td>
										</tr>
									{% elseif type == "AFFECTATIONS-DIVERSES-ACHAT" %}
										<tr id="row-nouvelle-affectation-diverse-achat">
											<td colspan="4">
												<a href="{{ path('compta_affectation_diverse_ajouter_modal', {'type' : 'ACHAT'}) }}"  data-toggle="modal" data-target="#modal">Nouvelle affectation diverse</a>
											</td>
										</tr>
									{% endif %}
									</tbody>
								</table>
				      		</div>
				    	</div>
				  	</div>
				{% endif %}
		  	{% endfor %}

		</div>

		<div class="col-md-6" id="mouvements">
			<h3 class="center">Mouvements bancaires</h3>

			{% for nomCompte, arr_compteBancaire in arr_mouvementsBancaires %}
				{% if arr_compteBancaire|length > 0 %}
				  	<div class="panel panel-default">
				   	 	<div class="panel-heading" role="tab" id="heading-{{ nomCompte }}">
				      		<h4 class="panel-title">
				        		<a role="button" data-toggle="collapse" href="#{{ nomCompte }}" aria-expanded="true" aria-controls="{{ nomCompte }}">
									{{ nomCompte }}
				        		</a>
				      		</h4>
				    	</div>
				    	<div id="{{ nomCompte }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-{{ nomCompte }}">
				      		<div class="panel-body">
				      			<table class="table table-transparent">
				      				<tbody class="searchable">
							        {% for mouvement in arr_compteBancaire %}
							        	<tr id="row-mouvement-{{ mouvement.id }}" class="row-mouvement {% if mouvement.montant > 0 %} positif {% else %} negatif {% endif %}" data-date="{{ mouvement.date|date('Ymd') }}">
							        		<td class="col-md-2">
												<input type="checkbox" name="mouvements" id="{{ mouvement.id }}" value="{{ mouvement.montant }}"/>
											</td>
											<td class="col-md-2 date">{{ mouvement.date|date('d/m/Y') }}</td>
											<td class="col-md-2 align-right montant {% if mouvement.montant > 0 %} green {% else %} red {% endif %}"> {{ mouvement.montant|number_format(2, ',', ' ') }} €</td>
											<td class="col-md-6 libelle"><label for="{{ mouvement.id }}">{{ mouvement.libelle }}</label></td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
				      		</div>
				    	</div>
				  	</div>
				{% endif %}
		  	{% endfor %}
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/jquery.comiseo.daterangepicker.css') }}" type="text/css" />
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/moment.js') }}"></script>
	<script src="{{ asset('js/jquery.comiseo.daterangepicker.js') }}"></script>
	<script src="{{ asset('js/datepicker-fr.js') }}"></script>
	<script src="{{ asset('js/dateFilterConfig.js') }}"></script>
	<script src="{{ asset('js/accounting.min.js') }}"></script>

	<script type="text/javascript">
		$(document).ready( function () {

			$('input[name="mouvements"]').change(function(){
				checkTotaux();		
			});

			$('input[name="pieces"]').change(function(){
				checkTotaux();		
			});

			$('#btn-rapprocher').click(function(){

				$(this).attr('disabled', true);
				$('.progress').removeClass('hidden');
				$('#success').addClass('hidden');
				$('#error').addClass('hidden');

				var arr_pieces =  [];

				$('input[name="pieces"]').each(function () {
					if(this.checked){

						val = 0;
						if( $(this).attr('data-type') == "AFFECTATIONS-DIVERSES-VENTE" ){
							val = Number($(this).parent().parent().find('.montant').val());
						} else if($(this).attr('data-type') == "AFFECTATIONS-DIVERSES-ACHAT" ){
							val = Number($(this).parent().parent().find('.montant').val());
						}

						var piece = {'id':$(this).attr('id'), 'montant':val};
						arr_pieces.push(piece);
					}
				});

				var arr_mouvements =  [];
				$('input[name="mouvements"]').each(function () {
					if(this.checked){
						arr_mouvements.push($(this).attr('id'));
					}
				});

				console.log(arr_pieces);

				$.ajax({
					type: "POST",
					url: Routing.generate('compta_rapprochement_avance_rapprocher'),
					data: { 'mouvements':  arr_mouvements, 'pieces': arr_pieces },
					success: function(data) {
						$('#btn-rapprocher').attr('disabled', false);
						$('.progress').addClass("hidden");
						$('#success').removeClass('hidden');

						var arrayLength = arr_pieces.length;
						for (var i = 0; i < arrayLength; i++) {
						    var id = arr_pieces[i];
						    $("#row-"+id).remove(); 
						}

						var arrayLength = arr_mouvements.length;
						for (var i = 0; i < arrayLength; i++) {
						    var id = arr_mouvements[i];
						    $("#row-mouvement-"+id).remove(); 
						}

						checkTotaux();
					},
					error: function(jqXHR, textStatus, errorThrown) {

						$('#error').text(jqXHR.responseJSON.message);
						$('#error').removeClass("hidden");

						$('#btn-rapprocher').attr('disabled', false);
						$('.progress').addClass("hidden");
					},

				});

			});

			$('input[name="filtre_pieces"]').change(function(){
				var type = $(this).val();
				$('#panel-'+type).toggle();
			});

			$('input[name="filtre_montant_mouvements"]').change(function(){
				var value = $(this).val();
				if(value == 'ALL'){
					$('.row-mouvement').removeClass("hidden");
				} else if(value == "POSITIF"){
					$('.row-mouvement.positif').removeClass("hidden");
					$('.row-mouvement.negatif').addClass("hidden");
				} else {
					$('.row-mouvement.positif').addClass("hidden");
					$('.row-mouvement.negatif').removeClass("hidden");
				}
			});

			$('#dateRange').change(function(){
				var dateRange = $("#dateRange").daterangepicker("getRange");
				var startDate = dateRange.start.getFullYear()+('0' + (dateRange.start.getMonth()+1)).slice(-2)+('0' + dateRange.start.getDate()).slice(-2);
				var endDate = dateRange.end.getFullYear()+('0' + (dateRange.end.getMonth()+1)).slice(-2)+('0' + dateRange.end.getDate()).slice(-2);
				
				$('.row-mouvement').each(function () {
					var rowDate = $(this).attr('data-date');
					if(rowDate >= startDate && rowDate <= endDate){
						$(this).removeClass("hidden");
					} else {
						$(this).addClass("hidden");
					}
				});

			});

			$('#search').keyup(function () {
				var rex = new RegExp($(this).val().replace(/\s/g, ''), 'i');
				$('.searchable tr').hide();
				$('.searchable tr').filter(function () {
					return rex.test($(this).find('.libelle, .montant, .num').text().replace(/\s/g, ''));
				}).show();
			});

			$(document).on("submit", '#form-add-affectation_diverse', function(e) {

				var type = $('#affectation-diverse-type').text();

				e.preventDefault();
				$.ajax({
			        type: "POST",
			        url: Routing.generate('compta_affectation_diverse_ajouter_modal', {'type' : type} ),
			        data: $(this).serialize(), // serializes the form's elements.
			        success: function(data)
			        {
			        	var newTr = "<tr id='row-AFFECTATIONS-DIVERSES-"+type+"_"+data.id+"'>"
			        	newTr+="<td class='col-md-2'><input type='checkbox' name='pieces' id='AFFECTATIONS-DIVERSES-"+type+"_"+data.id+"' data-type='AFFECTATIONS-DIVERSES-"+type+"' /></td>";
			        	newTr+="<td class='col-md-2 num'><label for='AFFECTATIONS-DIVERSES-"+type+"_"+data.id+"'>"+data.nom+"</label></td>";
						newTr+="<td class='col-md-2 align-right'><div class='input-group'><input type='text' class='form-control montant' placeholder='Montant' aria-describedby='basic-addon2'><span class='input-group-addon' id='basic-addon2'>€</span></div></td>";

			        	newTr+="</tr>";
				        $(newTr).insertBefore('#row-nouvelle-affectation-diverse-vente');
			
				        $('#modal').modal('hide');

				        $('input[name="pieces"]').change(function(){
							checkTotaux();		
						});
			        }
			    });
			});

		});

		function calculTotalMouvements(){
			var total = 0;
			$('input[name="mouvements"]').each(function () {
				if(this.checked){
					//on multiplie puis divise par 100 pour travailler sur des entiers et éviter le problème de précision de javascript
					total+= Number($(this).val())*100;
			    
				}
			});
			total = total/100;
			$('#total-mouvements').text(accounting.formatMoney(total, { symbol: "€",  format: "%v %s", decimal: ",", thousand: " ", precision: 2 }));

			return Number(total);
		}

		function calculTotalPieces(){
			var total = 0;
			$('input[name="pieces"]').each(function () {
				if(this.checked){

					if( $(this).attr('data-type') == "AFFECTATIONS-DIVERSES-VENTE" ){
						
						val = Number($(this).parent().parent().find('.montant').val())*100;
						total+= val;

						//on multiplie puis divise par 100 pour travailler sur des entiers et éviter le problème de précision de javascript
					} else if($(this).attr('data-type') == "AFFECTATIONS-DIVERSES-ACHAT" ){
						
						val = Number($(this).parent().parent().find('.montant').val())*100;
						total+= 0-val;

					} else if( $(this).attr('data-type') == "DEPENSES" || $(this).attr('data-type') == "AVOIRS-CLIENT" || $(this).attr('data-type') == "NOTES-FRAIS" ){
						
						val= Number($(this).val())*100;
						total+= 0-val;

					} else {

						total+= Number($(this).val())*100;

					}
				}

			});	
				
			total = total/100;
			$('#total-pieces').text(accounting.formatMoney(total, { symbol: "€",  format: "%v %s", decimal: ",", thousand: " ", precision: 2 }));

			return Number(total);
		}

		function checkTotaux(){

			var totalPieces = (calculTotalPieces()*100).toFixed(2);
			var totalMouvements = (calculTotalMouvements()*100).toFixed(2);

			if(totalPieces > totalMouvements){
				
				console.log(totalPieces);
				console.log(totalMouvements);

				var diff = totalPieces - totalMouvements;
				var error = "Pièces supérieures de "+diff/100+" €";
				$('#error').text(error)
							.removeClass("hidden");
				$('#btn-rapprocher').attr('disabled', true);
				$('.glyphicon-ok').addClass("hidden");

			} else if(totalPieces < totalMouvements){
				
				var diff =  totalMouvements - totalPieces;
				var error = "Mouvements bancaires supérieures de "+diff/100+" €";
				$('#error').text(error)
							.removeClass("hidden");
				$('#btn-rapprocher').attr('disabled', true);
				$('.glyphicon-ok').addClass("hidden");

			} else {
				$('#error').text('')
							.addClass("hidden");
				$('#btn-rapprocher').attr('disabled', false);
				$('.glyphicon-ok').removeClass("hidden");
			}

		}
	</script>


{% endblock %}