<div class="row">
	<div class="col-xs-4">
		{{ form_widget(form.type) }}
	</div>
	<div class="col-xs-8">
		{{ form_widget(form.nom) }}
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		{{ form_row(form.description) }}
	</div>
</div>
<div class="row">
	<div class="col-xs-2">
		{{ form_widget(form.tarifUnitaire) }}
	</div>
	<div class="col-xs-2">
		{{ form_widget(form.quantite) }}
	</div>
	<div class="col-xs-2">
		{{ form_widget(form.montant) }}
	</div>
	<div class="col-xs-2">
		{{ form_widget(form.remise) }}
	</div>
	<div class="col-xs-2">
		{{ form_widget(form.total) }}
	</div>
</div>

