{% block submenu %}
    <ul class="nav nav-tabs">
      <li {% if app.request.pathInfo == "/compta/rapprochement"  %} class="active" {% endif %}>
        <a href="{{ path('compta_rapprochement_index') }}" >Rapprochements</a>
      </li>
      <li {% if app.request.pathInfo == "/compta/rapprochement-avance"  %} class="active" {% endif %}>
        <a href="{{ path('compta_rapprochement_avance') }}" >Rapprochements avancés</a>
      </li>
      <li {% if app.request.pathInfo == "/compta/releve-bancaire"  %} class="active" {% endif %}>
          <a href="{{ path('compta_releve_bancaire_index') }}">Relevés bancaires</a>
      </li>
      <li {% if app.request.pathInfo == "/compta/compte-bancaire"  %} class="active" {% endif %}>
          <a href="{{ path('compta_compte_bancaire_liste') }}">Comptes bancaires</a>
      </li>
      <li {% if app.request.pathInfo == "/compta/journal-banque"  %} class="active" {% endif %}>
          <a href="{{ path('compta_journal_banque_index') }}">Journal de banque</a>
      </li>
    </ul>
{% endblock %}